<template>
  <div>
    <div class="flex flex-row items-center justify-between h-8">
      <h2 class="text-lg font-bold">
        <span v-if="ballotPrepared">{{ $t("Prepared Ballot") }}</span>
        <span v-else>{{ $t("Ballot") }}</span>
      </h2>
      <transition name="fade">
        <button
          v-if="$store.state.debate.manuallyOrdered"
          @click="orderByWeights"
          class="auxiliary-button"
        >
          <shuffle-icon alt class="inline-block w-4 h-4 mr-1"></shuffle-icon>
          {{ $t("Order by argument weights") }}
        </button>
      </transition>
    </div>
    <transition-group
      tag="ol"
      name="flip-list"
      class="list-decimal list-inside table-container ml-4"
    >
      <li
        v-for="answer in sortedAnswers"
        :key="answer.id"
        v-bind:draggable="{ allowDragging: true }"
        @dragend="dragend()"
        @dragstart="dragstart($event, answer.id)"
        @dragover="dragover($event, answer.id)"
        class="list-outside"
      >
        <div class="inline-block flex flex-row">
          <span class="flex-grow ml-1">
            {{ answer.answer }}
            <span class="ml-4 text-sm italic">{{
              totalAnswerWeight[answer.id]
            }}</span>
          </span>
          <span class="flex-grow-0 flex flex-row">
            <button
              class="auxiliary-button"
              v-bind:class="{ invisible: answerAtTop(answer.id) }"
              @click="moveAnswerUp(answer.id)"
            >
              <arrow-up-icon v-bind:alt="$t('move answer up')"></arrow-up-icon>
            </button>
            <button
              class="auxiliary-button"
              v-bind:class="{ invisible: answerAtBottom(answer.id) }"
              @click="moveAnswerDown(answer.id)"
            >
              <arrow-down-icon
                v-bind:alt="$t('move answer down')"
              ></arrow-down-icon>
            </button>
            <dragging-affordance-icon
              alt
              id="dragging-affordance"
              class="text-gray-500 m-2"
            ></dragging-affordance-icon>
          </span>
        </div>
      </li>
    </transition-group>
  </div>
</template>

<style scoped lang="postcss">
li {
  cursor: pointer;
  user-select: none;
}

@media (hover: none) {
  #dragging-affordance {
    @apply hidden;
  }
}
</style>

<script>
import { ShuffleIcon, ArrowUpIcon, ArrowDownIcon } from "vue-feather-icons";
import DraggingAffordanceIcon from "@/components/DraggingAffordanceIcon";

export default {
  name: "Ballot",
  components: {
    DraggingAffordanceIcon,
    ShuffleIcon,
    ArrowUpIcon,
    ArrowDownIcon,
  },
  data: () => ({
    draggedElement: null,
    draggedAnswerId: null,
    lastCommitId: null,
    waitForAnimation: false,
  }),
  methods: {
    dragend() {
      if (!this.allowDragging) {
        return;
      }
      this.draggedElement = null;
      this.draggedAnswerId = null;
    },
    dragstart(event, answerId) {
      if (!this.allowDragging) {
        return;
      }
      event.dataTransfer.effectAllowed = "move";
      event.dataTransfer.setData("text/plain", null);
      this.draggedElement = event.currentTarget;
      this.draggedAnswerId = answerId;
    },
    async dragover(event, answerId) {
      if (!this.allowDragging) {
        return;
      }
      if (this.draggedAnswerId === answerId || this.waitForAnimation) {
        return;
      }
      this.waitForAnimation = true;

      if (
        !this.$store.getters["debate/isBeforeInBallotAnswerOrder"](
          answerId,
          this.draggedAnswerId
        )
      ) {
        let newCommitId =
          "moveAfterInBallotAnswerOrder-" + this.draggedAnswerId + answerId;
        if (newCommitId != this.lastCommitId) {
          this.$store.commit("debate/moveAfterInBallotAnswerOrder", {
            toMove: this.draggedAnswerId,
            after: answerId,
          });
          this.$store.commit("debate/setManuallyOrdered", {
            manuallyOrdered: true,
          });
          this.lastCommitId = newCommitId;
        }
      } else {
        let newCommitId =
          "moveBeforeInBallotAnswerOrder-" + this.draggedAnswerId + answerId;
        if (newCommitId != this.lastCommitId) {
          this.$store.commit("debate/moveBeforeInBallotAnswerOrder", {
            toMove: this.draggedAnswerId,
            before: answerId,
          });
          this.$store.commit("debate/setManuallyOrdered", {
            manuallyOrdered: true,
          });
          this.lastCommitId = newCommitId;
        }
      }

      await new Promise((resolve) => setTimeout(resolve, 250));
      this.waitForAnimation = false;
    },
    orderByWeights() {
      this.$store.commit("debate/setBallotAnswerOrderByWeights");
      this.$store.commit("debate/setManuallyOrdered", {
        manuallyOrdered: false,
      });
    },
    answerAtTop(answerId) {
      return this.$store.state.debate.ballotAnswerOrder[0] == answerId;
    },
    answerAtBottom(answerId) {
      let last = this.$store.state.debate.ballotAnswerOrder.length - 1;
      return this.$store.state.debate.ballotAnswerOrder[last] == answerId;
    },
    moveAnswerUp(answerId) {
      this.$store.commit("debate/moveUpInBallotAnswerOrder", {
        toMove: answerId,
      });
    },
    moveAnswerDown(answerId) {
      this.$store.commit("debate/moveDownInBallotAnswerOrder", {
        toMove: answerId,
      });
    },
  },
  computed: {
    totalAnswerWeight() {
      return this.$store.state.debate.totalAnswerWeights;
    },
    sortedAnswers() {
      return this.$store.getters["debate/sortedAnswers"];
    },
    ballotPrepared() {
      return (
        this.$store.state.debate.viewedDebate.preparedVote.preparedBallot !=
        null
      );
    },
    allowDragging() {
      return window.matchMedia("(hover: hover)").matches;
    },
  },
};
</script>
