<template>
  <div v-bind:style="leftMargin">
    <div v-if="debate.subDebates">
      <div v-if="debate.subDebates.list.length > 0">
        <expandable-list>
          <ul class="table-container">
            <li v-for="subDebate in debate.subDebates.list" :key="subDebate.id">
              <h4 class="text-main-500 mt-2">
                <message-circle-icon
                  v-bind:alt="$t('Debate')"
                  class="inline-block w-4 h-4 mr-1"
                ></message-circle-icon>
                <a
                  @click="$router.push('/debate/' + subDebate.id)"
                  tabindex="0"
                  @keyup.enter="$router.push('/debate/' + subDebate.id)"
                  >{{ subDebate.question }}</a
                >
              </h4>
              <markdown
                styling="preview"
                v-bind:markdown="subDebate.shortDetails"
                class="ml-4"
              ></markdown>
              <debate-tree
                v-bind:debateId="subDebate.id"
                v-bind:nestingLevel="nestingLevel + 1"
              ></debate-tree>
            </li>
          </ul>
        </expandable-list>
      </div>
    </div>
    <div v-else-if="debate.hasSubDebates">
      <button @click="showMoreDebates" class="auxiliary-button pl-0">
        <chevron-down-icon
          alt
          class="inline-block w-4 h-4 mr-1"
        ></chevron-down-icon>
        {{ $t("Show Sub-Debates") }}
      </button>
      <error v-if="error" @retry="showMoreDebates" v-bind:msg="error">{{
        $t("Cannot fetch debate")
      }}</error>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import Markdown from "@/components/Markdown.vue";
import ExpandableList from "@/components/ExpandableList.vue";
import { MessageCircleIcon, ChevronDownIcon } from "vue-feather-icons";
import { localAuthTokenQuery } from "@/queries";

export default {
  name: "DebateTree",
  components: {
    Markdown,
    ExpandableList,
    MessageCircleIcon,
    ChevronDownIcon,
  },
  props: {
    debateId: String,
    nestingLevel: {
      type: Number,
      default: 0,
    },
  },
  data: () => ({
    error: null,
  }),
  methods: {
    async showMoreDebates() {
      let result = await this.$apollo.query({
        query: localAuthTokenQuery,
      });
      let token = result.data
        ? result.data.localAuthToken
        : this.$router.push("/login");
      result = await this.$apollo.query({
        query: gql`
          query DebateWithSubDebates($token: String!, $debateId: Uuid!) {
            authenticatedQuery(token: $token) {
              ok {
                debate(debateId: $debateId) {
                  id
                  subDebates {
                    id
                    list {
                      id
                      question
                      shortDetails
                      lastChange
                      hasSubDebates
                    }
                  }
                }
              }
            }
          }
        `,
        variables: {
          token,
          debateId: this.debate.id,
        },
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.$store.commit("preview/deepenTree", {
          debate: result.data.authenticatedQuery.ok.debate,
        });
      }
    },
  },
  computed: {
    debate() {
      return this.$store.state.preview.flattened[this.debateId];
    },
    leftMargin() {
      return "margin-left: " + 2 * this.nestingLevel + "rem;";
    },
    sortedSubDebate() {
      let copy = debate.subDebates.list.slice();
      copy.sort((a, b) =>
        a.lastChange > b.lastChange ? 1 : a.lastChange < b.lastChange ? -1 : 0
      );
      copy.reverse();
      return copy;
    },
  },
};
</script>
