<template>
  <div class="w-full">
    <div class="card w-full" v-for="debate in topLevelDebates" :key="debate.id">
      <div>
        <h2
          @click="view(debate.id)"
          @keyup.enter="view(debate.id)"
          tabindex="0"
          class="inline-block"
        >
          <span class="text-3xl text-main-500 cursor-pointer">{{
            debate.question
          }}</span>
        </h2>
        <p class="inline-block ml-2 px-2 pt-1 rounded text-sm bg-accent-500">
          {{ debateStateName(debate.state) }}
        </p>
      </div>

      <div v-if="onlyTopLevel">
        <markdown
          v-bind:markdown="debate.shortDetails"
          styling="preview"
        ></markdown>
        <h3 class="mt-2 mb-2 uppercase text-sm">{{ $t("Answers") }}</h3>
        <expandable-list>
          <ul class="table-container">
            <li v-for="answer in debate.answers.list" :key="answer.id">
              {{ answer.answer }}
            </li>
          </ul>
        </expandable-list>
      </div>
      <div v-else>
        <h3
          v-if="debate.subDebates.list.length > 0"
          class="mt-2 mb-2 uppercase text-sm"
        >
          {{ $t("Debates about arguments") }}
        </h3>
        <debate-tree v-bind:debateId="debate.id"></debate-tree>
      </div>
      <div class="w-full flex flex-row-reverse">
        <button @click="view(debate.id)" class="auxiliary-button">
          {{ $t("View") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Markdown from "@/components/Markdown.vue";
import DebateTree from "@/super-components/DebateTree.vue";
import ExpandableList from "@/components/ExpandableList.vue";
import { DebateState } from "@/views/ViewDebate.vue";

export default {
  name: "debates-preview",
  components: {
    Markdown,
    DebateTree,
    ExpandableList,
  },
  props: {
    onlyTopLevel: Boolean,
  },
  methods: {
    view(debateId) {
      this.$router.push("/debate/" + debateId);
    },
    debateStateName(debateState) {
      if (debateState === DebateState.CollectingAnswers) {
        return this.$t("Collecting Answers");
      } else if (debateState === DebateState.Debating) {
        return this.$t("Debating");
      } else if (debateState === DebateState.Voting) {
        return this.$t("Voting");
      } else if (debateState === DebateState.Finished) {
        return this.$t("Finished");
      } else if (debateState === DebateState.Combined) {
        return this.$t("Collecting Answers, Debating, and Voting");
      } else if (debateState === DebateState.Waiting) {
        return this.$t("Not started yet");
      } else {
        return null;
      }
    },
  },
  computed: {
    topLevelDebates() {
      let copy = this.$store.state.preview.debateTree.filter(
        (debate) => debate.concernedArgument == null
      );
      copy.sort((a, b) =>
        a.lastChange > b.lastChange ? 1 : a.lastChange < b.lastChange ? -1 : 0
      );
      copy.reverse();
      return copy;
    },
  },
};
</script>
