<template>
  <div class="flex flex-row h-full">
    <div class="lg:w-64 lg:flex-none"></div>
    <main role="tabpanel" class="w-full h-full">
      <div class="lg:w-64 lg:flex-none"></div>
      <div class="mx-auto max-w-4xl p-2 min-h-full">
        <slot></slot>
      </div>
      <div class="w-full h-16 lg:h-0"></div>
    </main>
    <nav
      role="tablist"
      class="flex flex-row fixed bottom-0 w-full h-16 bg-white pb-1 lg:flex-col lg:left-0 lg:h-full lg:w-64"
    >
      <button
        role="tab"
        aria-setsize="3"
        aria-posinset="1"
        v-bind:aria-selected="String(participateSelected)"
        class="flex-1 flex flex-col items-center cursor-pointer lg:px-2 lg:mt-1 lg:flex-none lg:flex-row lg:items-start lg:content-center lg:rounded-r-full"
        v-bind:class="{ 'text-main-500': participateSelected }"
        v-on:click="participateClicked()"
      >
        <message-circle-icon
          alt
          class="m-auto lg:p-3 w-8 h-8 lg:w-12 lg:h-12 lg:m-0"
        ></message-circle-icon>
        <span
          class="text-center text-sm lg:text-left lg:my-auto lg:ml-4 lg:text-base"
          >{{ $t("Participate") }}</span
        >
      </button>
      <button
        role="tab"
        aria-setsize="3"
        aria-posinset="2"
        v-bind:aria-selected="String(startDebateSelected)"
        class="flex-1 flex flex-col items-center cursor-pointer lg:px-2 lg:mt-1 lg:flex-none lg:flex-row lg:items-start lg:content-center lg:rounded-r-full"
        v-bind:class="{ 'text-main-500': startDebateSelected }"
        v-on:click="startADebateClicked()"
      >
        <plus-icon
          alt
          class="m-auto lg:p-3 w-8 h-8 lg:w-12 lg:h-12 lg:m-0"
        ></plus-icon>
        <span
          class="text-center text-sm lg:text-left lg:my-auto lg:ml-4 lg:text-base leading-tight"
          >{{ $t("Start a Debate") }}</span
        >
      </button>
      <button
        role="tab"
        aria-setsize="3"
        aria-posinset="3"
        v-bind:aria-selected="String(myProfileSelected)"
        class="flex-1 flex flex-col items-center cursor-pointer lg:px-2 lg:mt-1 lg:flex-none lg:flex-row lg:items-start lg:content-center lg:rounded-r-full"
        v-bind:class="{ 'text-main-500': myProfileSelected }"
        v-on:click="myProfileClicked()"
      >
        <user-icon
          alt
          class="m-auto lg:p-3 w-8 h-8 lg:w-12 lg:h-12 lg:m-0"
        ></user-icon>
        <span
          class="text-center text-sm lg:text-left lg:my-auto lg:ml-4 lg:text-base"
          >{{ $t("My Profile") }}</span
        >
      </button>
    </nav>
  </div>
</template>

<script>
import { PlusIcon, MessageCircleIcon, UserIcon } from "vue-feather-icons";

export const SelectedButton = {
  Participate: "Participate",
  StartADebate: "StartADebate",
  MyProfile: "MyProfile",
  None: "None",
};

export default {
  name: "NavigationBar",
  components: {
    PlusIcon,
    MessageCircleIcon,
    UserIcon,
  },
  props: ["selectedButton"],
  computed: {
    participateSelected() {
      return this.selectedButton == SelectedButton.Participate;
    },
    startDebateSelected() {
      return this.selectedButton == SelectedButton.StartADebate;
    },
    myProfileSelected() {
      return this.selectedButton == SelectedButton.MyProfile;
    },
  },
  methods: {
    participateClicked() {
      this.$router.push("/");
    },
    startADebateClicked() {
      this.$router.push("/start-debate");
    },
    myProfileClicked() {
      this.$router.push("/profile");
    },
  },
};
</script>
