Syslog                  yes
SyslogSuccess           yes

Canonicalization	relaxed/simple

Domain			{{ hostname }}
Selector		2020
KeyFile			/usr/share/dns/2020.private

Socket                  inet:8891@127.0.0.1

ReportAddress           jandehaan@{{ hostname }}
SendReports             yes
