<template>
  <div>
    <div v-if="$apollo.loading">
      <loading></loading>
    </div>
    <div v-else-if="debateRetrievalError">
      <error
        @retry="$apollo.queries.debate.refetch()"
        v-bind:msg="debateRetrievalError"
        >{{ $t("Cannot fetch debate") }}</error
      >
    </div>
    <div v-else class="h-full flex flex-col">
      <h1 class="font-bold text-center">{{ $t("Your argument") }}</h1>
      <hr class="my-1" />
      <h1 class="font-bold">{{ debate.question }}</h1>
      <markdown v-bind:markdown="debate.details"></markdown>
      <hr class="my-1" />
      <label for="argumentHeading">{{ $t("Heading") }}</label>
      <textarea
        id="argumentHeading"
        type="text"
        v-model="argument.heading"
        wrap="soft"
        maxlength="140"
        style="resize: none"
        class="border border-gray-500 p-2 mb-2 w-full h-24 text-lg md:h-12 lg:h-12"
      ></textarea>
      <label for="argumentBody">{{ $t("Body") }}</label>
      <textarea
        id="argumentBody"
        type="text"
        v-model="argument.body"
        wrap="soft"
        class="border border-gray-500 p-2 mb-2 w-full h-64 font-mono"
        style="max-height: 50%"
      ></textarea>
      <p class="mb-2 -mt-1 text-sm">{{ $t("You can use Markdown.") }}</p>
      <p>{{ $t("Which answers does your argument support?") }}</p>
      <ul id="answers" class="table-container">
        <li v-for="answer in debate.answers.list" :key="answer.id">
          <checkbox
            v-bind:value="$store.state.addArgument.supports[answer.id]"
            @input="(value) => setSupport(answer.id, value)"
            class="inline-block mr-1"
            >{{ answer.answer }}</checkbox
          >
        </li>
      </ul>
      <div class="flex flex-row justify-center">
        <button @click="addArgument" class="regular-button mt-4">
          {{ $t("Add This Argument") }}
        </button>
      </div>
      <error v-if="error">{{ $t("An error occurred.") }}</error>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { localAuthTokenQuery } from "@/queries";
import Loading from "@/components/Loading.vue";
import Checkbox from "@/components/Checkbox.vue";
import Markdown from "@/components/Markdown.vue";
import Error from "@/components/Error.vue";

export default {
  name: "AddArgument",
  components: {
    Loading,
    Checkbox,
    Markdown,
    Error,
  },
  data: () => ({
    argument: {
      heading: "",
      body: "",
    },
    debateRetrievalError: null,
    error: null,
  }),
  methods: {
    async addArgument() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation AddArgument($token: String!, $argument: ArgumentInput!) {
            authenticatedMutation(token: $token) {
              ok {
                addArgument(argument: $argument) {
                  argumentsList {
                    id
                    list {
                      id
                    }
                  }
                }
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          argument: this.argumentInput,
        },
        errorPolicy: "all",
      });
      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        this.$router.replace("/debate/" + this.debate.id);
      }
    },
    setSupport(answerId, value) {
      this.$store.commit("addArgument/setSupport", {
        answerId: answerId,
        supports: value,
      });
    },
  },
  computed: {
    argumentInput() {
      let supportedAnswersIds = this.$store;

      return {
        heading: this.argument.heading,
        body: this.argument.body,
        debateId: this.debate.id,
        supportedAnswersIds: this.$store.getters[
          "addArgument/supportedAnswersIds"
        ],
      };
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update: (data) => data.localAuthToken,
    },
    debate: {
      query: gql`
        query DebateForAddArgument($token: String!, $id: Uuid!) {
          authenticatedQuery(token: $token) {
            ok {
              debate(debateId: $id) {
                id
                question
                details
                state
                allowAddingMoreAnswers
                answers {
                  id
                  list {
                    id
                    answer
                  }
                }
              }
            }
            err
          }
        }
      `,
      variables() {
        return { token: this.authToken, id: this.$route.params.debateId };
      },
      update: function (data) {
        if (!data.authenticatedQuery) {
          return;
        }
        this.$store.commit("addArgument/setAnswers", {
          answers: data.authenticatedQuery.ok.debate.answers.list,
        });
        return data.authenticatedQuery.ok.debate;
      },
      error(e) {
        this.debateRetrievalError = e.graphQLErrors[0].message;
      },
    },
  },
};
</script>
