<template>
  <div class="mx-auto w-full max-w-md h-full flex align-center">
    <transition name="fade" mode="out-in">
      <div
        v-on:keyup.enter="createAccount"
        v-if="displayForm"
        key="1"
        class="min-w-full my-auto px-4"
      >
        <div class="flex justify-center h-48">
          <img class="logo" alt="Logo" src="../assets/logo.dist.svg" />
        </div>

        <h1 class="text-center text-2xl">{{ $t("Create an Account") }}</h1>

        <label for="email">{{ $t("Email") }}</label>
        <input
          id="email"
          type="email"
          autofocus
          v-model="email"
          class="my-1 border-b"
          v-bind:class="{ invalid: displayInvalidEmail }"
          @focus="focusedIndex = 0"
        />
        <p class="text-red-500" v-if="displayInvalidEmail">
          {{ $t("The email is invalid.") }}
        </p>
        <p class="text-red-500 placeholder" v-else>
          {{ $t("The email is invalid.") }}
        </p>

        <label for="name">{{ $t("Name") }}</label>
        <input
          id="name"
          type="text"
          v-model="name"
          class="my-1 border-b"
          v-bind:class="{ invalid: displayEnterName }"
          @focus="focusedIndex = 1"
        />
        <p class="text-red-500" v-if="displayEnterName">
          {{ $t("Please enter a name.") }}
        </p>
        <p class="text-red-500 placeholder" v-else>
          {{ $t("Please enter a name.") }}
        </p>

        <label for="password">{{ $t("Password") }}</label>
        <input
          id="password"
          type="password"
          v-model="password"
          class="my-1 border-b"
          v-bind:class="{ invalid: displayWeakPassword }"
          @focus="focusedIndex = 2"
        />
        <p class="text-red-500" v-if="displayWeakPassword">
          {{ $t("The password must be at least 12 characters long.") }}
        </p>
        <p class="text-red-500 placeholder" v-else>
          {{ $t("The password must be at least 12 characters long.") }}
        </p>

        <label for="passwordRepeat">{{ $t("Confirm Password") }}</label>
        <input
          id="passwordRepeat"
          type="password"
          v-model="passwordRepeat"
          class="my-1 border-b"
          v-bind:class="{ invalid: displayPasswordsDoNotMatch }"
          @focus="focusedIndex = 3"
        />

        <checkbox class="mt-3" v-model="privacyPolicyAccepted">
          {{ $t("beforePrivacyPolicyLink") }}
          <a
            class="underline text-main-500"
            v-bind:href="$t('privacyPolicyLink')"
            target="_blank"
            rel="noopener noreferrer"
            >{{ $t("privacyPolicy") }}</a
          >
          {{ $t("afterPrivacyPolicyLink") }}
        </checkbox>

        <progress-button
          v-bind:disabled="buttonDisabled"
          v-on:click="createAccount"
          v-bind:loading="createAccountLoading"
          class="w-full my-4"
          >{{ $t("Create an Account") }}</progress-button
        >

        <error v-if="error">{{ $t("An error occurred") }}</error>
        <error v-if="accountCreationError == 'INVALID_EMAIL'">{{
          $t("The email is invalid.")
        }}</error>
        <error v-if="accountCreationError == 'EMAIL_IN_USE'">{{
          $t("There is already an account for this email.")
        }}</error>
        <error v-if="accountCreationError == 'WEAK_PASSWORD'">{{
          $t("Password too weak.")
        }}</error>
        <error v-if="accountCreationError == 'MISSING_NAME'">{{
          $t("Please enter a name.")
        }}</error>
        <error v-if="accountCreationError == 'CANNOT_SEND_EMAIL'">{{
          $t(
            "Sorry, we are having problems delivering a confirmation email to you (our fault). Please try again later!"
          )
        }}</error>
      </div>
      <div
        v-else
        key="2"
        class="text-center flex flex-col justify-center w-full"
      >
        <div>
          <mail-icon
            alt
            class="text-main-500 w-20 h-20 mb-8 inline-block"
          ></mail-icon>
          <p>
            {{ $t("Click the link in the email we sent you to get started!") }}
          </p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { MailIcon } from "vue-feather-icons";
import { localAuthTokenQuery } from "@/queries";
import { getLocale } from "@/locale";
import Error from "@/components/Error.vue";
import ProgressButton from "@/components/ProgressButton.vue";
import Checkbox from "@/components/Checkbox.vue";

export default {
  name: "create-account",
  components: {
    MailIcon,
    Error,
    ProgressButton,
    Checkbox,
  },
  data: () => ({
    email: "",
    name: "",
    password: "",
    passwordRepeat: "",
    createAccountLoading: false,
    accountCreated: false,
    privacyPolicyAccepted: false,
    i: -1,
    accountCreationError: null,
    error: null,
  }),
  computed: {
    displayForm() {
      return !this.accountCreated;
    },
    displayInvalidEmail() {
      return this.focusedIndex > 0 && !this.email.includes("@");
    },
    displayEnterName() {
      return this.name.length == 0 && this.focusedIndex > 1;
    },
    displayWeakPassword() {
      return this.password.length < 12 && this.focusedIndex > 2;
    },
    displayPasswordsDoNotMatch() {
      return (
        !this.password.startsWith(this.passwordRepeat) && this.focusedIndex >= 3
      );
    },
    buttonDisabled() {
      return (
        !this.privacyPolicyAccepted ||
        this.displayInvalidEmail ||
        this.displayEnterName ||
        this.displayPasswordsDoNotMatch ||
        this.passwordRepeat != this.password ||
        this.displayWeakPassword ||
        this.focusedIndex < 3
      );
    },
    focusedIndex: {
      set(i) {
        if (i > this.i) {
          this.i = i;
        }
      },
      get() {
        return this.i;
      },
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update(data) {
        if (data.localAuthToken) {
          this.$router.push("/");
        }
      },
    },
  },
  methods: {
    async createAccount() {
      if (this.buttonDisabled) {
        return;
      }

      this.createAccountLoading = true;
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation CreateAccount(
            $email: String!
            $name: String!
            $password: String!
            $locale: Locale!
          ) {
            createAccount(
              email: $email
              name: $name
              password: $password
              locale: $locale
            ) {
              err
            }
          }
        `,
        variables: {
          email: this.email,
          name: this.name,
          password: this.password,
          locale: getLocale(),
        },
        errorPolicy: "all",
      });
      this.createAccountLoading = false;
      if (result.errors) {
        this.error = result.errors[0].message;
      } else if (result.data.createAccount.err) {
        this.error = null;
        this.accountCreationError = result.data.createAccount.err;
      } else {
        this.error = null;
        this.accountCreated = true;
      }
    },
  },
};
</script>
