<template>
  <div class="h-full">
    <error v-bind:msg="error" v-if="error">{{
      $t("An error occurred.")
    }}</error>
    <div
      v-else-if="$store.state.preview.debateTree == null"
      class="h-full text-center flex flex-col justify-center"
    >
      <loading></loading>
    </div>
    <div v-else class="h-full">
      <segmented-control
        v-bind:values="DISPLAY_MODES"
        v-bind:value="displayMode"
        @input="(value) => (rawDisplayMode = value)"
      ></segmented-control>
      <div
        v-if="$store.state.preview.debateTree.length == 0"
        class="h-full text-center flex flex-col justify-center"
      >
        <div>
          <p class="mb-8">{{ $t("No debates to show") }}</p>
          <button class="regular-button" @click="$router.push('/start-debate')">
            {{ $t("Start a Debate") }}
          </button>
        </div>
      </div>
      <debates-preview
        v-bind:onlyTopLevel="displayMode === DISPLAY_MODES[0]"
        class="w-full"
      ></debates-preview>
    </div>
  </div>
</template>

<script>
import DebatesPreview from "@/super-components/DebatesPreview.vue";
import Loading from "@/components/Loading.vue";
import SegmentedControl from "@/components/SegmentedControl.vue";
import { localAuthTokenQuery } from "@/queries";
import gql from "graphql-tag";
import { debatesOverviewFragment, answerFragment } from "@/fragments";

export default {
  name: "debates-overview",
  components: {
    DebatesPreview,
    Loading,
    SegmentedControl,
  },
  data: () => ({
    authToken: null,
    previewDebates: null,
    rawDisplayMode: null,
    error: null,
  }),
  computed: {
    displayMode() {
      return this.rawDisplayMode || this.DISPLAY_MODES[0];
    },
    DISPLAY_MODES() {
      return [
        { id: "top-level", display: this.$t("Top-Level") },
        { id: "all", display: this.$t("All") },
      ];
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update: (data) => data.localAuthToken,
    },
    previewDebates: {
      query: gql`
        query PreviewDebates($token: String!) {
          authenticatedQuery(token: $token) {
            ok {
              topLevelDebates {
                ...DebatesOverview
              }
            }
          }
        }

        ${debatesOverviewFragment}
      `,
      variables() {
        return { token: this.authToken };
      },
      update: function (data) {
        if (!data.authenticatedQuery) {
          return;
        }
        this.$store.commit("preview/setBaseTree", {
          debates: data.authenticatedQuery.ok.topLevelDebates.list,
        });
      },
      error(e) {
        this.error = e.graphQLErrors[0].message;
      },
      errorPolicy: "all",
    },
  },
};
</script>
