<template>
  <div>
    <h1>{{ $t("Privacy Policy") }}</h1>

    <p>{{ $t("ppp1") }}</p>
    <address>
      Jan de Haan
      <br />Burggartenstraße&nbsp;38 <br />53115 Bonn <br />Email:
      eltrot@jandehaan.name
    </address>
    <p>{{ $t("ppp2") }}</p>
    <address>
      Landesbeauftragte für Datenschutz und Informationsfreiheit
      <br />Nordrhein-Westfalen <br />Postfach 20 04 44 <br />40102 Düsseldorf
      <br />Email: poststelle@ldi.nrw.de
    </address>
    <p>{{ $t("ppp3") }}</p>

    <h2>{{ $t("pph1") }}</h2>
    <ul>
      <li>{{ $t("ppli1") }}</li>
      <li>{{ $t("ppli2") }}</li>
      <li>{{ $t("ppli3") }}</li>
      <li>{{ $t("ppli4") }}</li>
    </ul>

    <h1>Open Source Licenses</h1>
    <p>
      Names of the libraries (except for the font Source Sans Pro) are as they
      can be found on
      <a href="https://www.npmjs.org">NPM</a>.
    </p>
    <h2>apollo-client and related libraries</h2>
    <p>The MIT License (MIT)</p>
    <p>Copyright (c) 2019 Meteor Development Group, Inc.</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
    <h2>core-js</h2>
    <p>The MIT License (MIT)</p>
    <p>Copyright (c) 2014-2020 Denis Pushkarev</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
    <h2>graphql</h2>
    <p>The MIT License (MIT)</p>
    <p>Copyright (c) 2019 GraphQL Contributors</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
    <h2>marked</h2>
    <p>The MIT License (MIT)</p>
    <p>
      Copyright (c) 2011-2018, Christopher Jeffrey (https://github.com/chjj/)
    </p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
    <h2>vue and related libraries</h2>
    <p>The MIT License (MIT)</p>
    <p>Copyright (c) 2013-present, Yuxi (Evan) You</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
    <h2>vue-feather-icons</h2>
    <p>The MIT License (MIT)</p>
    <p>Copyright (c) egoist &lt;0x142857@gmail.com&gt; (https://egoist.moe)</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
    <h2>vue-i18n</h2>
    <p>The MIT License (MIT)</p>
    <p>Copyright (c) 2016 kazuya kawaguchi</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
    <h2>dompurify</h2>
    <p>Copyright 2015 Mario Heiderich</p>
    <p>
      Licensed under the Apache License, Version 2.0 (the "License"); you may
      not use this file except in compliance with the License. You may obtain a
      copy of the License at
    </p>
    <a href="http://www.apache.org/licenses/LICENSE-2.0"
      >http://www.apache.org/licenses/LICENSE-2.0</a
    >
    <p>
      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
      WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
      License for the specific language governing permissions and limitations
      under the License.
    </p>
    <h2>Source Sans Pro</h2>
    <p>
      Copyright 2010-2018 Adobe (http://www.adobe.com/), with Reserved Font Name
      'Source'. All Rights Reserved. Source is a trademark of Adobe in the
      United States and/or other countries.
    </p>
    <p>
      This Font Software is licensed under the SIL Open Font License, Version
      1.1.
    </p>
    <p>
      This license is copied below, and is also available with a FAQ at:
      http://scripts.sil.org/OFL
    </p>
    <h3>SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007</h3>
    <p>PREAMBLE</p>
    <p>
      The goals of the Open Font License (OFL) are to stimulate worldwide
      development of collaborative font projects, to support the font creation
      efforts of academic and linguistic communities, and to provide a free and
      open framework in which fonts may be shared and improved in partnership
      with others.
    </p>
    <p>
      The OFL allows the licensed fonts to be used, studied, modified and
      redistributed freely as long as they are not sold by themselves. The
      fonts, including any derivative works, can be bundled, embedded,
      redistributed and/or sold with any software provided that any reserved
      names are not used by derivative works. The fonts and derivatives,
      however, cannot be released under any other type of license. The
      requirement for fonts to remain under this license does not apply to any
      document created using the fonts or their derivatives.
    </p>
    <p>DEFINITIONS</p>
    <p>
      "Font Software" refers to the set of files released by the Copyright
      Holder(s) under this license and clearly marked as such. This may include
      source files, build scripts and documentation.
    </p>
    <p>
      "Reserved Font Name" refers to any names specified as such after the
      copyright statement(s).
    </p>
    <p>
      "Original Version" refers to the collection of Font Software components as
      distributed by the Copyright Holder(s).
    </p>
    <p>
      "Modified Version" refers to any derivative made by adding to, deleting,
      or substituting -- in part or in whole -- any of the components of the
      Original Version, by changing formats or by porting the Font Software to a
      new environment.
    </p>
    <p>
      "Author" refers to any designer, engineer, programmer, technical writer or
      other person who contributed to the Font Software.
    </p>
    <p>PERMISSION &amp; CONDITIONS</p>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of the Font Software, to use, study, copy, merge, embed, modify,
      redistribute, and sell modified and unmodified copies of the Font
      Software, subject to the following conditions:
    </p>
    <p>
      1) Neither the Font Software nor any of its individual components, in
      Original or Modified Versions, may be sold by itself.
    </p>
    <p>
      2) Original or Modified Versions of the Font Software may be bundled,
      redistributed and/or sold with any software, provided that each copy
      contains the above copyright notice and this license. These can be
      included either as stand-alone text files, human-readable headers or in
      the appropriate machine-readable metadata fields within text or binary
      files as long as those fields can be easily viewed by the user.
    </p>
    <p>
      3) No Modified Version of the Font Software may use the Reserved Font
      Name(s) unless explicit written permission is granted by the corresponding
      Copyright Holder. This restriction only applies to the primary font name
      as presented to the users.
    </p>
    <p>
      4) The name(s) of the Copyright Holder(s) or the Author(s) of the Font
      Software shall not be used to promote, endorse or advertise any Modified
      Version, except to acknowledge the contribution(s) of the Copyright
      Holder(s) and the Author(s) or with their explicit written permission.
    </p>
    <p>
      5) The Font Software, modified or unmodified, in part or in whole, must be
      distributed entirely under this license, and must not be distributed under
      any other license. The requirement for fonts to remain under this license
      does not apply to any document created using the Font Software.
    </p>
    <p>TERMINATION</p>
    <p>
      This license becomes null and void if any of the above conditions are not
      met.
    </p>
    <p>DISCLAIMER</p>
    <p>
      THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
      EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF
      COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE
      COPYRIGHT HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
      INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL
      DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER
      DEALINGS IN THE FONT SOFTWARE.
    </p>
  </div>
</template>

<style lang="postcss" scoped>
h1 {
  @apply text-3xl font-bold mb-2;
}

h2 {
  @apply text-lg font-bold mb-2;
}

h3 {
  @apply font-bold mb-2;
}

p {
  @apply mb-2;
}

a {
  @apply text-main-500 underline;
}

a:hover {
  @apply text-main-700;
}

address {
  @apply mb-2;
}

ul {
  @apply list-disc list-inside;
}
</style>

<script>
export default {
  name: "Legal",
};
</script>

<i18n>
{
  "en": {
    "Privacy Policy": "Privacy Policy",
    "ppp1": "This privacy policy concerns the website at eltrot.jandehaan.name, offered by:",
    "ppp2": "You have the right to receive a copy of all your data and request that it is corrected (please use the provided UI or contact me) or deleted (just delete your account). You may object to me processing your data at any time. You may complain to the supervisory authority, in my case that is:",
    "ppp3": "I process the following data on the basis of GDPR Art. 6 (1) a, which is necessary to be able to offer this service.",
    "pph1": "Collected data, its purpose and how long it is stored",
    "ppli1": "Your email: Identifying you, informing you about events concerning you. Stored as long as you keep your account, deleted 30 days after you delete your account.",
    "ppli2": "Your name: Showing those you communicate with using the app who you are. Stored as long as you keep your account, deleted 30 days after you delete your account.",
    "ppli3": "The questions, answers and arguments you enter: Allowing you to use the app. Stored for 30 days after the debate they belong to ends.",
    "ppli4": "Other people’s emails: Contacting them after you’ve invited them. Not stored at all."
  },
  "de": {
    "Privacy Policy": "Datenschutzerklärung",
    "ppp1": "Diese Datenschutzerklärung betrifft die Webseite auf eltrot.jandehaan.name, angeboten von:",
    "ppp2": "Du hast das Recht, eine Kopie all Deiner Daten zu erhalten und ihre Korrektur (bitte nutze die App oder kontaktiere mich) oder Löschung (lösche einfach Dein Konto) zu veranlassen. Du kannst der Datenverarbeitung jederzeit widersprechen, und Du kannst Dich bei der zuständigen Datenschutzbehörde beschweren. In meinem Fall ist das:",
    "ppp3": "Ich verarbeite Deine Daten auf Grundlage von Art. 6 (1) a, was notwendig ist, um diese Dienstleistung zu erbringen.",
    "pph1": "Verarbeitete Daten; Zweck und Dauer ihrer Verarbeitung",
    "ppli1": "Deine E-Mail-Adresse: Identifikation, Information über Dich betreffende Dinge. Wird so lange gespeichert wie Du Dein Konto behältst und 30 Tage nach Löschung des Kontos gelöscht.",
    "ppli2": "Dein Name: Denjenigen, mit denen Du kommunizierst zeigen, wer Du bist. Wird so lange gespeichert wie Du Dein Konto behältst und 30 Tage nach Löschung des Kontos gelöscht.",
    "ppli3": "Die Fragen, Antworten und Argumente, die Du eingibst: Ermöglichen erst die Benutzung der App. Werden 30 Tage, nachdem die betreffone Diskussion zu Ende ist, gelöscht.",
    "ppli4": "E-Mail-Adressen Dritter: Dritte auf Deine Einladung hin kontaktieren. Werden gar nicht gespeichert."
  }
}
</i18n>
