<template>
  <div>
    <loading v-if="!error"></loading>
    <error @retry="createTempAccount" v-bind:msg="error" v-else></error>
  </div>
</template>

<script>
import Loading from "@/components/Loading.vue";
import Error from "@/components/Error.vue";
import gql from "graphql-tag";
import { getLocale } from "@/locale";
import { setLocalAuthTokenMutation } from "@/queries";

export default {
  name: "LoginTemp",
  components: {
    Loading,
    Error,
  },
  data: () => ({
    error: null,
  }),
  methods: {
    async createTempAccount() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation CreateTemporaryAccount($locale: Locale!) {
            createTemporaryAccount(locale: $locale)
          }
        `,
        variables: {
          locale: getLocale(),
        },
        errorPolicy: "all",
      });
      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        await this.$apollo.mutate({
          mutation: setLocalAuthTokenMutation,
          variables: { token: result.data.createTemporaryAccount },
        });
        this.$router.replace("/");
      }
    },
  },
  created() {
    this.createTempAccount();
  },
};
</script>
