<template>
  <div>
    <loading></loading>
    <error v-if="loginWithLinkError == 'MALFORMED_TOKEN'">{{
      $t("This link does not match the format we were expecting.")
    }}</error>
    <error v-else-if="loginWithLinkError == 'INVALID_TOKEN'">{{
      $t("This link is invalid.")
    }}</error>
    <error v-else-if="loginWithLinkError == 'UNKNOWN_ACCOUNT'">{{
      $t("This link is invalid.")
    }}</error>
    <error v-if="error">{{ $t("An error occurred.") }}</error>
  </div>
</template>

<script>
import gql from "graphql-tag";
import Loading from "@/components/Loading.vue";
import { setLocalAuthTokenMutation } from "@/queries";
import Error from "@/components/Error.vue";

export default {
  name: "login-link",
  components: {
    Loading,
    Error,
  },
  data: () => ({
    error: null,
    loginWithLinkError: null,
  }),
  async created() {
    let token = this.$route.params.token;
    const result = await this.$apollo.mutate({
      mutation: gql`
        mutation LoginWithLink($token: String!) {
          loginWithLink(token: $token) {
            ok
            err
          }
        }
      `,
      variables: {
        token,
      },
      errorPolicy: "all",
    });
    if (result.errors) {
      this.error = result.errors[0].message;
      this.loginWithLinkError = null;
    } else if (result.data.loginWithLink.err) {
      this.error = null;
      this.loginWithLinkError = result.data.loginWithLink.err;
    } else {
      this.error = null;
      this.loginWithLinkError = null;
      await this.$apollo.mutate({
        mutation: setLocalAuthTokenMutation,
        variables: { token: result.data.loginWithLink.ok },
      });
      this.$router.replace("/");
    }
  },
};
</script>
