<template>
  <div class="mx-auto w-full max-w-md h-full flex align-center">
    <div
      v-if="loginEmailSent"
      class="min-w-full px-4 flex flex-col justify-center text-center"
    >
      <mail-icon alt class="text-main-500 w-20 h-20 mb-8 mx-auto"></mail-icon>
      <p>{{ $t("You have been sent an email with a link to log in") }}</p>
    </div>

    <div
      v-else-if="loginError == 'EMAIL_NOT_VERIFIED'"
      class="min-w-full px-4 flex flex-col justify-center text-center"
    >
      <div>
        <mail-icon
          alt
          class="text-main-500 w-20 h-20 mb-8 inline-block"
        ></mail-icon>
        <p class="mb-8">
          {{
            $t(
              "We have not verified your email address yet. You should have received an email with a link to verify your email address. Click it and log in again."
            )
          }}
        </p>
        <a
          v-if="!emailResent"
          @click="resendEmail"
          class="underline text-main-500"
          >{{ $t("I have not received an email – send another one") }}</a
        >
        <p v-else>
          {{
            $t("We have sent you another email to confirm your email address.")
          }}
        </p>

        <error v-if="resendEmailError == 'RATE_LIMITED'"
          >{{ $t("rate-limited-message-before-email")
          <a href="mailto:eltrot@jandehaan.name">eltrot@jandehaan.name</a>
          $t("rate-limited-message-after-email") }}</error
        >
        <error v-if="resendEmailError == 'INVALID_EMAIL_OR_PASSWORD'">{{
          $t("Invalid email or password")
        }}</error>
        <error v-if="error" v-bind:msg="error">{{
          $t("An error occurred.")
        }}</error>
      </div>
    </div>

    <div
      v-else
      v-on:keyup.enter="loginWithPassword"
      class="min-w-full my-auto px-4"
    >
      <div class="flex justify-center h-48">
        <img alt="Logo" src="../assets/logo.dist.svg" />
      </div>

      <h1 class="text-center text-2xl">{{ $t("Log in") }}</h1>

      <p class="text-center my-2">
        {{ $t("Don’t have an account yet?") }}
        <a href="/register" class="underline text-main-500">{{
          $t("Create an Account")
        }}</a>
      </p>

      <label for="email">{{ $t("Email") }}</label>
      <input
        id="email"
        type="email"
        autofocus
        v-model="email"
        class="mt-1 mb-8 border-b"
        v-bind:class="{ invalid: emailInvalid }"
      />

      <label for="password">{{ $t("Password") }}</label>
      <input
        id="password"
        type="password"
        v-model="password"
        class="mt-1 border-b"
        @focus="passwordWasFocused = true"
      />

      <error v-if="loginError == 'INVALID_EMAIL_OR_PASSWORD'">{{
        $t("Invalid email or password")
      }}</error>
      <error v-else-if="loginError == 'QUICKLY_CREATED_ACCOUNT'">{{
        $t("This account does not have a password.")
      }}</error>
      <error v-else-if="sendLoginEmailError == 'ACCOUNT_DOES_NOT_EXIST'">{{
        $t("This account does not exist.")
      }}</error>
      <error v-else-if="sendLoginEmailError == 'ACCOUNT_HAS_PASSWORD'">{{
        $t("This account is secured using a password, please use it to log in.")
      }}</error>
      <error v-else class="placeholder">{{
        $t("This account is secured using a password, please use it to log in.")
      }}</error>

      <progress-button
        v-on:click="loginWithPassword"
        v-bind:loading="loginLoading"
        class="w-full"
        >{{ $t("Log in with password") }}</progress-button
      >
      <div class="flex flex-row justify-center my-2">
        <span class="uppercase text-sm">{{ $t("or") }}</span>
      </div>
      <button
        v-on:click="loginWithLink"
        v-bind:disabled="passwordEntered"
        class="regular-button w-full"
      >
        {{ $t("Send an email to log in without a password") }}
      </button>

      <div class="flex justify-center my-4">
        <button class="underline text-main-500" @click="resetPassword">
          {{ $t("Reset password") }}
        </button>
      </div>

      <error v-if="error" v-bind:msg="error">{{
        $t("An error occurred.")
      }}</error>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import {
  setLocalAuthTokenMutation,
  localAuthTokenQuery,
  isAuthTokenValidQuery,
} from "@/queries";
import { MailIcon } from "vue-feather-icons";
import ProgressButton from "@/components/ProgressButton.vue";
import { LOCAL_AUTH_TOKEN_KEY } from "@/main";
import Error from "@/components/Error.vue";

export default {
  name: "login",
  components: {
    MailIcon,
    ProgressButton,
    Error,
  },
  data: () => ({
    email: "",
    password: "",
    emailResent: false,
    loginEmailSent: false,
    passwordWasFocused: false,
    loginLoading: false,
    error: null,
    resendEmailError: null,
    loginError: null,
    sendLoginEmailError: null,
    loggedIn: false,
  }),
  computed: {
    emailInvalid() {
      return !this.email.includes("@") && this.passwordWasFocused;
    },
    passwordEntered() {
      return this.password.length > 0;
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      async update(data) {
        if (data.localAuthToken) {
          const result = await this.$apollo.query({
            query: isAuthTokenValidQuery,
            variables: {
              token: data.localAuthToken,
            },
          });
          if (result.data.isAuthTokenValid.ok) {
            if (!this.loggedIn) {
              this.$router.push("/");
            }
          } else {
            localStorage.removeItem(LOCAL_AUTH_TOKEN_KEY);
            this.$apollo.provider.defaultClient.resetStore();
          }
        }
      },
    },
  },
  methods: {
    async loginWithPassword() {
      this.loginLoading = true;
      this.error = null;
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation Login($email: String!, $password: String!) {
            login(email: $email, password: $password) {
              ok
              err
            }
          }
        `,
        variables: {
          email: this.email,
          password: this.password,
        },
        errorPolicy: "all",
      });
      this.loginLoading = false;
      if (result.errors) {
        this.error = result.errors[0].message;
      } else if (result.data.login.err) {
        this.error = null;
        this.loginError = result.data.login.err;
      } else {
        this.error = null;
        this.loggedIn = true;
        await this.$apollo.mutate({
          mutation: setLocalAuthTokenMutation,
          variables: { token: result.data.login.ok },
        });
        this.$router.replace("/");
      }
    },
    async resendEmail() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation ResendEmail($email: String!, $password: String!) {
            resendVerificationEmail(email: $email, password: $password) {
              ok
              err
            }
          }
        `,
        variables: {
          email: this.email,
          password: this.password,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else if (result.data.resendVerificationEmail.err) {
        this.error = null;
        this.loginError = result.data.resendVerificationEmail.err;
      } else {
        this.error = null;
        this.emailResent = true;
      }
    },
    async loginWithLink() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation SendLoginEmail($email: String!) {
            sendLoginEmail(email: $email) {
              ok
              err
            }
          }
        `,
        variables: {
          email: this.email,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else if (result.data.sendLoginEmail.err) {
        this.error = null;
        this.sendLoginEmailError = result.data.sendLoginEmail.err;
      } else {
        this.error = null;
        this.loginEmailSent = true;
      }
    },
    resetPassword() {
      this.$router.push("/reset-password");
    },
  },
};
</script>
