<template>
  <navigation-bar v-bind:selectedButton="selectedButton">
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </navigation-bar>
</template>

<script>
import gql from "graphql-tag";
import NavigationBar from "@/super-components/NavigationBar.vue";
import { localAuthTokenQuery } from "@/queries";

export default {
  name: "main-view",
  components: {
    NavigationBar,
  },
  computed: {
    selectedButton() {
      return this.$route.meta.selectedButton;
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update: (data) => data.localAuthToken,
    },
    locale: {
      query: gql`
        query AccountForLocale($token: String!) {
          authenticatedQuery(token: $token) {
            ok {
              account {
                locale
              }
            }
            err
          }
        }
      `,
      variables() {
        return { token: this.authToken };
      },
      update: function (data) {
        if (data.authenticatedQuery.err) {
          return;
        }
        const locale = data.authenticatedQuery.ok.account.locale;
        if (locale === "DE_DE") {
          this.$i18n.locale = "de";
          document.querySelector("html").setAttribute("lang", "de");
        } else {
          this.$i18n.locale = "en";
          document.querySelector("html").setAttribute("lang", "en");
        }
      },
    },
  },
};
</script>
