<template>
  <div>
    <div v-if="$apollo.loading">
      <loading></loading>
    </div>
    <div v-else>
      <h1 class="text-lg mb-4">{{ $t("Logged in as:") }}</h1>

      <label for="email" class="block">{{ $t("Email") }}</label>
      <input
        id="email"
        disabled
        type="email"
        class="mb-2"
        v-bind:value="account.email"
      />

      <label for="name">{{ $t("Name") }}</label>
      <div class="flex flex-row">
        <input
          id="name"
          ref="nameInput"
          v-bind:disabled="!editingName"
          type="text"
          class="flex-grow"
          v-bind:class="{ 'border-b': editingName, 'mb-px': !editingName }"
          v-model="editedName"
        />
        <button
          v-if="!editingName"
          @click="editName"
          class="auxiliary-button flex-grow-0"
        >
          <edit-2-icon
            v-bind:alt="$t('Edit name')"
            class="w-4 h-4"
          ></edit-2-icon>
        </button>
        <button
          v-else
          @click="finishEditingName"
          class="auxiliary-button flex-grow-0"
        >
          <check-icon v-bind:alt="$t('Set name')" class="w-4 h-4"></check-icon>
        </button>
      </div>

      <div class="mt-4 flex flex-row items-center">
        <label for="language">{{ $t("Language") }}</label>
        <select
          v-model="editedLocale"
          class="ml-5"
          style="min-width: 10em"
          @change="changeLocale"
        >
          <option value="EN_US">{{ $t("English") }}</option>
          <option value="DE_DE">{{ $t("German") }}</option>
        </select>
        <minimal-loading
          class="w-5 text-main-500 ml-5"
          v-if="changingLocale"
        ></minimal-loading>
      </div>

      <div v-if="!account.hasPassword.hasPassword" class="mt-4">
        <div class="flex flex-row">
          <span class="flex-grow">{{
            $t("You have not set a password for your account yet.")
          }}</span>
          <button
            class="auxiliary-button flex-grow-0"
            @click="settingPassword = !settingPassword"
          >
            <span v-if="!settingPassword">{{ $t("Set password") }}</span>
            <span v-else>{{ $t("Cancel") }}</span>
          </button>
        </div>
        <div v-if="settingPassword" class="card max-w-sm p-5 mx-auto">
          <label for="password">{{ $t("Password") }}</label>
          <input
            id="password"
            type="password"
            v-model="password"
            class="border-b mb-4"
          />
          <label for="repeatPassword">{{ $t("Confirm Password") }}</label>
          <input
            id="repeatPassword"
            type="password"
            v-model="repeatPassword"
            class="border-b mb-4"
          />

          <error v-if="setPasswordError == 'WEAK_PASSWORD'">{{
            $t("Password too weak.")
          }}</error>
          <error v-if="setPasswordError == 'ACCOUNT_HAS_PASSWORD'">{{
            $t("This account already has a password.")
          }}</error>

          <progress-button
            class="regular-button w-full"
            v-bind:disabled="!passwordOkay"
            v-bind:loading="setPasswordLoading"
            @click="setPassword"
            >{{ $t("Set password") }}</progress-button
          >
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex-grow">
          <button @click="logOut" class="auxiliary-button pl-0 my-1">
            <log-out-icon alt class="w-4 h-4 mr-1 inline-block"></log-out-icon>
            {{ $t("Log out") }}
          </button>
        </div>
        <button
          @click="startDeletingAccount"
          class="auxiliary-button my-1 flex-grow-0 text-red-500 hover:text-red-700"
        >
          <trash-icon alt class="w-4 h-4 mr-1 inline-block"></trash-icon>
          {{ $t("Delete account") }}
        </button>
      </div>
      <error v-if="logOutError">{{ $t("An error occurred.") }}</error>

      <div v-if="deletingAccount" class="mb-2 max-w-md card mx-auto">
        <div>
          <span>{{
            $t(
              "If you are sure that you want to delete your account, please enter your password below."
            )
          }}</span>
          <button
            class="auxiliary-button ml-2 pt-0"
            @click="stopDeletingAccount"
          >
            {{ $t("Cancel") }}
          </button>
        </div>
        <label for="password">{{ $t("Password") }}</label>
        <input
          id="password"
          type="password"
          v-model="accountDeletionPassword"
          class="md:max-w-md border-b -mt-1"
        />
        <button
          class="regular-button bg-red-500 hover:bg-red-700 mx-auto mt-5 block"
          @click="deleteAccount"
        >
          {{ $t("Delete account") }}
        </button>
      </div>

      <button class="block mx-auto link" @click="$router.push('/legal')">
        {{ $t("Privacy policy, licenses") }}
      </button>

      <hr />
      <div class="flex flex-row">
        <h1 class="text-lg mt-2 flex-grow">{{ $t("Notifications") }}</h1>
        <button class="flex-grow-0 auxiliary-button" @click="refresh">
          <refresh-cw-icon v-bind:alt="$t('refresh')"></refresh-cw-icon>
        </button>
      </div>
      <ul>
        <li
          v-for="invitation in invitations"
          v-bind:key="invitation.id"
          class="card w-full"
        >
          <h2 class="text-sm uppercase mb-1">{{ $t("Invitation") }}</h2>
          <p class="mb-2">
            {{
              $t("A has invited you to participate in the following debate:", {
                user: invitation.invitedBy.name,
              })
            }}
          </p>
          <h3 class="text-2xl mb-2 leading-tight">
            {{ invitation.debateQuestion }}
          </h3>
          <markdown v-bind:markdown="invitation.debateDetails"></markdown>
          <div class="text-right">
            <button
              class="auxiliary-button inline-block mr-5"
              @click="declineInvitation(invitation.id)"
            >
              {{ $t("Decline") }}
            </button>
            <button
              class="regular-button inline-block"
              @click="acceptInvitation(invitation.id, invitation.debateId)"
            >
              {{ $t("Accept") }}
            </button>
          </div>
        </li>
      </ul>

      <error v-if="error">{{ $t("An error occurred.") }}</error>
    </div>
  </div>
</template>

<script>
import {
  LogOutIcon,
  Edit2Icon,
  CheckIcon,
  TrashIcon,
  RefreshCwIcon,
} from "vue-feather-icons";
import { localAuthTokenQuery } from "@/queries";
import Loading from "@/components/Loading.vue";
import MinimalLoading from "@/components/MinimalLoading.vue";
import Markdown from "@/components/Markdown.vue";
import gql from "graphql-tag";
import { LOCAL_AUTH_TOKEN_KEY } from "@/main";
import { debatesOverviewFragment } from "@/fragments";
import Error from "@/components/Error.vue";
import ProgressButton from "@/components/ProgressButton.vue";

export default {
  name: "MyProfile",
  components: {
    LogOutIcon,
    Edit2Icon,
    CheckIcon,
    TrashIcon,
    RefreshCwIcon,
    MinimalLoading,
    Loading,
    Markdown,
    Error,
    ProgressButton,
  },
  data: () => ({
    editingName: false,
    editedName: null,
    invitations: [],

    settingPassword: false,
    password: "",
    repeatPassword: "",
    setPasswordLoading: false,
    deletingAccount: false,
    accountDeletionPassword: "",
    changingLocale: false,
    editedLocale: null,

    logOutError: null,
    setPasswordError: null,
    error: null,
  }),
  methods: {
    editName() {
      this.editingName = true;
    },
    async finishEditingName() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation ChangeName($token: String!, $newName: String!) {
            authenticatedMutation(token: $token) {
              ok {
                changeName(newName: $newName) {
                  id
                  email
                  name
                }
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          newName: this.editedName,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        this.editingName = false;
      }
    },
    async logOut() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation DeleteToken($token: String!) {
            authenticatedMutation(token: $token) {
              ok {
                logOut
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
        },
        errorPolicy: "all",
      });
      if (result.errors) {
        this.error = result.errors[0].message;
        this.logOutError = null;
      } else if (result.data.authenticatedMutation.ok.logOut == "ERROR") {
        this.error = null;
        this.logOutError = "ERROR";
      } else if (result.data.authenticatedMutation.ok.logOut == "SUCCESS") {
        this.error = null;
        this.logOutError = null;
        localStorage.removeItem(LOCAL_AUTH_TOKEN_KEY);
        this.$apollo.provider.defaultClient.resetStore();
        this.$router.push("/login");
      }
    },
    async declineInvitation(invitationId) {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation DeclineInvitation($token: String!, $id: Uuid!) {
            authenticatedMutation(token: $token) {
              ok {
                declineInvitation(id: $id) {
                  id
                  list {
                    id
                    debateId
                    debateQuestion
                    debateDetails
                    invitedBy {
                      id
                      name
                    }
                  }
                }
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          id: invitationId,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
      }
    },
    async acceptInvitation(invitationId, debateId) {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation AcceptInvitation($token: String!, $id: Uuid!) {
            authenticatedMutation(token: $token) {
              ok {
                acceptInvitation(id: $id) {
                  invitations {
                    id
                    list {
                      id
                      debateId
                      debateQuestion
                      debateDetails
                      invitedBy {
                        id
                        name
                      }
                    }
                  }
                  topLevelDebates {
                    ...DebatesOverview
                  }
                }
              }
              err
            }
          }

          ${debatesOverviewFragment}
        `,
        variables: {
          token: this.authToken,
          id: invitationId,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        this.$router.push("/debate/" + debateId);
      }
    },
    async setPassword() {
      this.setPasswordLoading = true;
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation SetPassword($token: String!, $password: String!) {
            authenticatedMutation(token: $token) {
              ok {
                setPassword(password: $password) {
                  ok {
                    id
                    hasPassword
                  }
                  err
                }
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          password: this.password,
        },
        errorPolicy: "all",
      });
      this.setPasswordLoading = false;

      if (result.errors) {
        this.error = result.errors[0].message;
        this.settingPassword = null;
      } else if (result.data.authenticatedMutation.ok.setPassword.err) {
        this.setPasswordError =
          result.data.authenticatedMutation.ok.setPassword.err;
        this.error = null;
      } else {
        this.error = null;
        this.setPasswordError = null;
        this.settingPassword = false;
      }
    },
    startDeletingAccount() {
      this.deletingAccount = true;
    },
    stopDeletingAccount() {
      this.deletingAccount = false;
    },
    async deleteAccount() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation DeleteAccount($token: String!, $password: String!) {
            authenticatedMutation(token: $token) {
              ok {
                deleteAccount(password: $password)
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          password: this.accountDeletionPassword,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        localStorage.removeItem(LOCAL_AUTH_TOKEN_KEY);
        this.$apollo.provider.defaultClient.resetStore();
        this.$router.push("/login");
      }
    },
    async refresh() {
      this.$apollo.queries.account.refetch();
    },
    async changeLocale() {
      this.changingLocale = true;
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation ChangeAccountLocale($token: String!, $newLocale: Locale!) {
            authenticatedMutation(token: $token) {
              ok {
                changeAccountLocale(newLocale: $newLocale)
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          newLocale: this.editedLocale,
        },
      });
      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        const locale = result.data.authenticatedMutation.ok.changeAccountLocale;
        this.account.locale = locale;
        if (locale === "DE_DE") {
          this.$i18n.locale = "de";
          document.querySelector("html").setAttribute("lang", "de");
        } else {
          this.$i18n.locale = "en";
          document.querySelector("html").setAttribute("lang", "en");
        }
        this.error = null;
      }
      this.changingLocale = false;
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update: (data) => data.localAuthToken,
    },
    account: {
      query: gql`
        query Account($token: String!) {
          authenticatedQuery(token: $token) {
            ok {
              account {
                id
                email
                name
                locale
                invitations {
                  id
                  list {
                    id
                    debateId
                    debateQuestion
                    debateDetails
                    invitedBy {
                      id
                      name
                    }
                  }
                }
                hasPassword {
                  id
                  hasPassword
                }
              }
            }
            err
          }
        }
      `,
      variables() {
        return {
          token: this.authToken,
        };
      },
      update(data) {
        if (!data.authenticatedQuery) {
          return;
        }
        let account = data.authenticatedQuery.ok.account;
        this.editedEmail = account.email;
        this.editedName = account.name;
        this.editedLocale = account.locale;
        this.invitations = account.invitations.list;
        return account;
      },
      error(e) {
        this.error = e.graphQLErrors[0].message;
      },
      errorPolicy: "all",
    },
  },
  computed: {
    passwordOkay() {
      return this.password == this.repeatPassword && this.password.length >= 12;
    },
  },
};
</script>
