<template>
  <main class="text-center flex flex-col justify-center h-full">
    <i class="text-gray-500 font-bold text-6xl">{{ $t("404") }}</i>
    <p class>{{ $t("Sorry, this URL could not be found.") }}</p>

    <a @click="$router.push('/')" class="text-main-500 underline">{{
      $t("Go back to the overview")
    }}</a>
  </main>
</template>

<script>
export default {
  name: "NotFound",
};
</script>
