<template>
  <div class="mx-auto w-full max-w-md h-full flex align-center">
    <transition>
      <div
        v-if="!action"
        v-on:keyup.enter="sendEmail"
        class="min-w-full my-auto px-4"
      >
        <div class="flex justify-center h-48">
          <img class="logo" alt="Logo" src="../assets/logo.dist.svg" />
        </div>
        <p class="my-5">
          {{
            $t(
              "Please enter your email address. We will send you an email that will allow you to participate in the debate. If you already have an account, you will be sent to the login page."
            )
          }}
        </p>
        <label for="email" class="flex-grow my-auto inline-block">{{
          $t("Email")
        }}</label>
        <input id="email" type="email" v-model="email" class="my-1 border-b" />

        <checkbox class="mt-3" v-model="privacyPolicyAccepted">
          {{ $t("beforePrivacyPolicyLink") }}
          <a
            class="underline text-main-500"
            v-bind:href="$t('privacyPolicyLink')"
            target="_blank"
            rel="noopener noreferrer"
            >{{ $t("privacyPolicy") }}</a
          >
          {{ $t("afterPrivacyPolicyLink") }}
        </checkbox>

        <button
          :disabled="buttonDisabled"
          v-on:click="sendEmail"
          class="w-full regular-button my-4"
        >
          {{ $t("Send email") }}
        </button>
        <error v-if="usePublicInviteLinkError == 'INVALID_TOKEN'">{{
          $t("This link is invalid.")
        }}</error>
        <error v-if="usePublicInviteLinkError == 'CANNOT_SEND_EMAIL'">{{
          $t("We are having trouble sending you an email right now.")
        }}</error>
        <error v-if="usePublicInviteLinkError == 'INVALID_EMAIL'">{{
          $t("The email is invalid.")
        }}</error>
        <error
          v-if="usePublicInviteLinkError == 'DEBATE_HAS_ALREADY_STARTED'"
          >{{ $t("This debate has already started.") }}</error
        >
        <error v-if="error">{{ $t("An error occurred.") }}</error>
      </div>
      <div v-else-if="action == 'EMAIL_SENT'" class="min-w-full my-auto px-4">
        <p>
          {{
            $t(
              "Please use the link in the email sent to your email address to participate"
            )
          }}
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { getLocale } from "@/locale";
import Error from "@/components/Error.vue";
import Checkbox from "@/components/Checkbox.vue";

export default {
  name: "QuickstartPublic",
  components: {
    Error,
    Checkbox,
  },
  data: () => ({
    email: "",
    privacyPolicyAccepted: false,
    action: null,
    usePublicInviteLinkError: null,
    error: null,
  }),
  methods: {
    async sendEmail() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation UsePublicInviteLink(
            $email: String!
            $token: String!
            $locale: Locale!
          ) {
            usePublicInviteLink(token: $token, email: $email, locale: $locale) {
              ok
              err
            }
          }
        `,
        variables: {
          email: this.email,
          token: this.$route.params.token,
          locale: getLocale(),
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
        this.usePublicInviteLinkError = null;
      } else if (result.data.usePublicInviteLink.err) {
        this.error = null;
        this.usePublicInviteLinkError = result.data.usePublicInviteLink.err;
      } else {
        this.error = null;
        this.usePublicInviteLinkError = null;
        this.action = result.data.usePublicInviteLink.ok;
        if (this.action == "ACCOUNT_ADDED") {
          this.$router.push("/login");
        }
      }
    },
  },
  computed: {
    buttonDisabled() {
      return (
        this.email == "" ||
        !this.email.includes("@") ||
        !this.privacyPolicyAccepted
      );
    },
  },
};
</script>
