<template>
  <div class="mx-auto w-full max-w-md h-full flex align-center">
    <transition name="fade" mode="out-in">
      <div
        v-on:keyup.enter="createAccount"
        v-if="displayRegularForm"
        key="1"
        class="min-w-full my-auto px-4"
      >
        <div class="flex justify-center h-48">
          <img class="logo" alt="Logo" src="../assets/logo.dist.svg" />
        </div>
        <p class="my-5">
          {{
            $t(
              "Please check whether your name and email are correct. Your email is needed to identify you when participating and voting."
            )
          }}
        </p>
        <div class="flex flex-row">
          <label for="email" class="flex-grow my-auto inline-block">{{
            $t("Email")
          }}</label>
          <button
            class="auxiliary-button flex-grow-0 block"
            @click="switchForm"
          >
            {{ $t("Use a different email address") }}
          </button>
        </div>
        <input
          id="email"
          type="email"
          disabled
          v-bind:value="email"
          class="my-1 border-b"
        />

        <label for="name">{{ $t("Name") }}</label>
        <input
          id="name"
          type="text"
          v-model="name"
          class="my-1 border-b"
          v-bind:class="{ invalid: displayEnterName }"
          @focus="focusedIndex = 1"
        />

        <checkbox class="mt-3" v-model="privacyPolicyAccepted">
          {{ $t("beforePrivacyPolicyLink") }}
          <a
            class="underline text-main-500"
            v-bind:href="$t('privacyPolicyLink')"
            target="_blank"
            rel="noopener noreferrer"
            >{{ $t("privacyPolicy") }}</a
          >
          {{ $t("afterPrivacyPolicyLink") }}
        </checkbox>

        <p class="text-red-500" v-if="displayEnterName">
          {{ $t("Please enter a name.") }}
        </p>
        <p class="text-red-500 placeholder" v-else>
          {{ $t("Please enter a name.") }}
        </p>
        <button
          :disabled="buttonDisabled"
          v-on:click="createAccount"
          class="w-full regular-button my-4"
        >
          {{ $t("Participate") }}
        </button>

        <error v-if="useInviteLinkError == 'INVALID_TOKEN'">{{
          $t("This link is invalid.")
        }}</error>
        <error v-if="useInviteLinkError === 'MALFORMED_TOKEN'">
          <p>
            {{ $t("This link does not match the format we were expecting.") }}
          </p>
          <p>{{ $t("Are you sure that you copied it correctly?") }}</p>
        </error>
        <error v-if="useInviteLinkError == 'EMAIL_IN_USE'">{{
          $t("There is already an account for this email.")
        }}</error>
        <error v-if="useInviteLinkError == 'CANNOT_SEND_EMAIL'">{{
          $t("We are having trouble sending you an email right now.")
        }}</error>
        <error v-if="useInviteLinkError == 'INVALID_EMAIL'">{{
          $t("The email is invalid.")
        }}</error>
        <error v-if="useInviteLinkError == 'MISSING_NAME'">{{
          $t("Please enter a name.")
        }}</error>
        <error v-if="error" v-bind:msg="error">{{
          $t("An error occurred.")
        }}</error>
      </div>
      <div v-else-if="displayEmailChanged" class="min-w-full my-auto px-4">
        <p>
          {{
            $t(
              "Please use the link in the invitation email sent to the new email address to participate"
            )
          }}
        </p>
      </div>

      <error v-if="changeInviteLinkEmail == 'INVALID_TOKEN'">{{
        $t("This link is invalid.")
      }}</error>
      <error v-if="changeInviteLinkEmail == 'MALFORMED_TOKEN'">
        <p>
          {{ $t("This link does not match the format we were expecting.") }}
        </p>
        <p>{{ $t("Are you sure that you copied it correctly?") }}</p>
      </error>
      <error v-if="changeInviteLinkEmail == 'CANNOT_SEND_EMAIL'">{{
        $t("We are having trouble sending you an email right now.")
      }}</error>
      <error v-if="changeInviteLinkEmail == 'INVALID_EMAIL'">{{
        $t("The email is invalid.")
      }}</error>

      <div v-else class="min-w-full my-auto px-4">
        <div class="flex flex-row">
          <label for="email" class="flex-grow my-auto inline-block">{{
            $t("Email")
          }}</label>
          <button
            class="auxiliary-button flex-grow-0 block"
            @click="switchForm"
          >
            {{ $t("Cancel") }}
          </button>
        </div>
        <input
          id="email"
          type="email"
          v-model="email"
          class="mt-1 mb-5 border-b"
        />
        <button class="regular-button w-full" @click="changeEmail">
          {{ $t("Change email") }}
        </button>
      </div>
    </transition>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { setLocalAuthTokenMutation } from "@/queries";
import { getLocale } from "@/locale";
import Error from "@/components/Error.vue";
import Checkbox from "@/components/Checkbox.vue";

export default {
  name: "Quickstart",
  components: {
    Error,
    Checkbox,
  },
  data: () => ({
    email: "",
    name: "",
    privacyPolicyAccepted: false,
    accountCreated: false,
    displayRegularForm: true,
    displayEmailChanged: false,
    error: null,
    useInviteLinkError: null,
    changeInviteLinkEmailError: null,
  }),
  created() {
    if (this.$route.query.email != null) {
      this.email = this.$route.query.email;
    }
    if (this.$route.query.name != null) {
      this.name = this.$route.query.name;
    }
  },
  computed: {
    displayEnterName() {
      return this.name.length == 0;
    },
    buttonDisabled() {
      return (
        this.displayInvalidEmail ||
        this.displayEnterName ||
        !this.privacyPolicyAccepted
      );
    },
  },
  methods: {
    async createAccount() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation UseInviteLink(
            $name: String!
            $token: String!
            $locale: Locale!
          ) {
            useInviteLink(token: $token, name: $name, locale: $locale) {
              ok {
                debateId
                authToken
              }
              err
            }
          }
        `,
        variables: {
          name: this.name,
          token: this.$route.params.token,
          locale: getLocale(),
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
        this.useInviteLinkError = null;
      } else if (result.data.useInviteLink.err) {
        this.error = null;
        this.useInviteLinkError = result.data.useInviteLink.err;
      } else {
        this.error = null;
        this.useInviteLinkError = null;
        this.accountCreated = true;
        await this.$apollo.mutate({
          mutation: setLocalAuthTokenMutation,
          variables: { token: result.data.useInviteLink.ok.authToken },
        });
        let debateId = result.data.useInviteLink.ok.debateId;
        this.$router.push("/debate/" + debateId);
      }
    },
    switchForm() {
      this.displayRegularForm = !this.displayRegularForm;
    },
    async changeEmail() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation ChangeInviteLinkEmail(
            $newEmail: String!
            $token: String!
            $locale: Locale!
          ) {
            changeInviteLinkEmail(
              token: $token
              newEmail: $newEmail
              locale: $locale
            ) {
              ok
              err
            }
          }
        `,
        variables: {
          newEmail: this.email,
          token: this.$route.params.token,
          locale: getLocale(),
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
        this.changeInviteLinkEmailError = null;
      } else if (result.data.changeInviteLinkEmail.err) {
        this.error = null;
        this.changeInviteLinkEmailError = result.data.changeInviteLinkEmail.err;
      } else {
        this.error = null;
        this.changeInviteLinkEmailError = null;
        this.displayEmailChanged = true;
      }
    },
  },
};
</script>
