<template>
  <div class="mx-auto w-full max-w-md h-full flex align-center">
    <div class="min-w-full my-auto px-4">
      <h1 class="text-center text-2xl mb-5">{{ $t("Reset password") }}</h1>
      <div v-if="$route.params.token != null">
        <label for="new-password">{{ $t("New password") }}</label>
        <input
          id="new-password"
          type="password"
          v-model="newPassword"
          class="mt-1 mb-8 border-b"
          v-bind:class="{ invalid: displayPasswordInvalid }"
        />
        <label for="new-password-repeat">{{ $t("Repeat new password") }}</label>
        <input
          id="new-password-repeat"
          type="password"
          v-model="newPasswordRepeat"
          class="mt-1 mb-8 border-b"
          v-bind:class="{ invalid: displayPasswordInvalid }"
        />
        <progress-button
          v-on:click="setNewPassword"
          v-bind:loading="setNewPasswordLoading"
          class="w-full"
          >{{ $t("Reset password") }}</progress-button
        >

        <error v-if="changePasswordError == 'MALFORMED_TOKEN'">{{
          $t("This link does not match the format we were expecting.")
        }}</error>
        <error v-if="changePasswordError == 'INVALID_TOKEN'">{{
          $t("This link is invalid.")
        }}</error>
        <error v-if="changePasswordError == 'EXPIRED_TOKEN'">{{
          $t("This link has already expired.")
        }}</error>
        <error v-if="changePasswordError == 'WEAK_PASSWORD'">{{
          $t("Password too weak.")
        }}</error>
        <error v-if="error" v-bind:msg="error">{{
          $t("An error occurred.")
        }}</error>
      </div>
      <div v-else>
        <div v-if="!showSuccess">
          <label for="email">{{ $t("Email") }}</label>
          <input
            id="email"
            type="email"
            autofocus
            v-model="email"
            class="mt-1 mb-8 border-b"
            v-bind:class="{ invalid: displayEmailInvalid }"
          />
          <progress-button
            v-on:click="resetPassword"
            v-bind:loading="resetPasswordLoading"
            class="w-full"
            >{{ $t("Reset password") }}</progress-button
          >

          <error
            v-if="sendResetPasswordEmailError == 'ACCOUNT_DOES_NOT_EXIST'"
            >{{ $t("This account does not exist.") }}</error
          >
          <error v-if="error" v-bind:msg="error">{{
            $t("An error occurred.")
          }}</error>
        </div>
        <div v-else>
          <p class="text-center">
            {{ $t("We have sent you an email to reset your password.") }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProgressButton from "@/components/ProgressButton.vue";
import gql from "graphql-tag";
import Error from "@/components/Error.vue";

export default {
  name: "ResetPassword",
  components: {
    ProgressButton,
    Error,
  },
  data: () => ({
    email: "",
    resetPasswordLoading: false,
    showSuccess: false,
    newPassword: "",
    newPasswordRepeat: "",
    setNewPasswordLoading: false,
    sendResetPasswordEmailError: null,
    changePasswordError: null,
    error: null,
  }),
  methods: {
    async resetPassword() {
      this.resetPasswordLoading = true;
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation SendResetPasswordEmail($email: String!, $locale: Locale!) {
            sendResetPasswordEmail(email: $email, locale: $locale) {
              ok
              err
            }
          }
        `,
        variables: {
          email: this.email,
          locale: "EN_US",
        },
        errorPolicy: "all",
      });
      this.resetPasswordLoading = false;

      if (result.errors) {
        this.error = result.errors[0].message;
        this.sendResetPasswordEmailError = null;
      } else if (result.data.sendResetPasswordEmail.err) {
        this.error = null;
        this.sendResetPasswordEmailError =
          result.data.sendResetPasswordEmail.err;
      } else {
        this.error = null;
        this.sendResetPasswordEmailError = null;
        this.showSuccess = true;
      }
    },
    async setNewPassword() {
      this.setNewPasswordLoading = true;
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation SetNewPassword($token: String!, $newPassword: String!) {
            changePassword(token: $token, newPassword: $newPassword) {
              ok
              err
            }
          }
        `,
        variables: {
          token: this.$route.params.token,
          newPassword: this.newPassword,
        },
        errorPolicy: "all",
      });
      this.setNewPasswordLoading = false;

      if (result.errors) {
        this.error = result.errors[0].message;
        this.changePasswordError = null;
      } else if (result.data.changePassword.err) {
        this.error = null;
        this.changePasswordError = result.data.changePassword.err;
      } else {
        this.error = null;
        this.changePasswordError = null;
        this.$router.push("/login");
      }
    },
  },
  computed: {
    emailInvalid() {
      return !this.email.includes("@");
    },
    displayEmailInvalid() {
      return this.emailInvalid && this.email.length > 0;
    },
    displayPasswordInvalid() {
      return (
        this.newPassword.length < 12 ||
        this.newPassword != this.newPasswordRepeat
      );
    },
  },
};
</script>
