<template>
  <div>
    <error v-if="error" v-bind:msg="error">{{
      $t("An error occurred.")
    }}</error>
    <div
      class="flex flex-row justify-between sticky top-0 py-2 bg-white shadow-md lg:shadow-none"
    >
      <button
        @click="previousClicked"
        class="w-32 inline-block auxiliary-button p-0 ml-0 mr-auto text-left"
      >
        <chevron-left-icon
          v-bind:alt="$t('Previous')"
          class="inline-block"
        ></chevron-left-icon>
        {{ previousScreenTitle }}
      </button>

      <h1 class="inline-block font-bold text-center my-auto">
        {{ screenTitle }}
      </h1>

      <button
        @click="nextClicked"
        class="w-32 inline-block auxiliary-button p-0 ml-auto mr-0 text-right"
      >
        {{ nextScreenTitle }}
        <chevron-right-icon
          v-bind:alt="$t('Next')"
          class="inline-block"
        ></chevron-right-icon>
      </button>
    </div>

    <transition name="slide" mode="out-in">
      <div
        v-if="displayQuestionAndAnswers"
        key="question-and-answers"
        v-bind:class="{
          prev: prev == 0,
          next: next == 0,
          left: left,
          right: right,
        }"
        class="mt-3"
      >
        <label for="question">{{ $t("Question") }}</label>
        <textarea
          id="question"
          type="text"
          v-model="debate.question"
          wrap="soft"
          maxlength="280"
          style="resize: none"
          class="border border-gray-500 p-2 mb-2 w-full text-lg h-48 md:h-18 lg:h-16"
        ></textarea>

        <label for="details">{{ $t("Details") }}</label>
        <textarea
          id="details"
          type="text"
          v-model="debate.details"
          wrap="soft"
          class="border border-gray-500 p-2 mb-2 w-full h-64 font-mono"
        ></textarea>
        <p class="mb-2 -mt-1 text-sm">{{ $t("You can use Markdown.") }}</p>

        <label for="language">{{ $t("Language") }}</label>
        <select v-model="debate.locale" class="ml-5" style="min-width: 10em">
          <option value="EN_US">{{ $t("English") }}</option>
          <option value="DE_DE">{{ $t("German") }}</option>
        </select>

        <div class="flex flex-row items-center justify-between">
          <h2 class="font-bold">{{ $t("Answers") }}</h2>
          <button class="auxiliary-button" v-on:click="addAnswer">
            <plus-icon alt class="w-5 h-5 mr-1 inline"></plus-icon>
            {{ $t("Add Answer") }}
          </button>
        </div>

        <div class="min-h-16 w-full table-container">
          <span
            v-if="debate.firstAnswers.length == 0"
            class="inline-block text-center text-gray-600 w-full"
            >{{ $t("No answers yet") }}</span
          >
          <div
            v-for="answer in debate.firstAnswers"
            v-bind:key="answer.key"
            class="flex flex-row justify-center"
          >
            <input
              v-bind:placeholder="$t('Answer')"
              maxlength="140"
              v-model="answer.answer"
              v-focus
              class="flex-grow"
            />
            <button
              class="auxiliary-button"
              v-on:click="deleteAnswer(answer.key)"
            >
              <trash-icon
                v-bind:alt="$t('Delete answer')"
                class="w-5 h-5 flex-grow-0 my-auto"
              ></trash-icon>
            </button>
          </div>
        </div>
      </div>

      <div
        v-else-if="displaySchedule"
        key="schedule"
        v-bind:class="{
          prev: prev == 1,
          next: next == 1,
          left: left,
          right: right,
        }"
      >
        <table class="my-4">
          <tr>
            <th class="text-right pr-2">{{ $t("Phase") }}</th>
            <th class="text-left pl-2">{{ $t("Start/End") }}</th>
          </tr>
          <tr>
            <td class="border-r border-main-500 w-1/2"></td>
            <td class="pl-2 w-1/2">
              <date-time-picker
                v-model="debate.timetable.collectingAnswersStart"
                v-bind:class="{ invalid: collectingAnswersStartInvalid }"
              ></date-time-picker>
              <p class="text-red-500 my-1" v-if="collectingAnswersStartInvalid">
                {{ $t("Please enter a time in the future.") }}
              </p>
              <p v-else class="placeholder text-red-500 my-1">
                {{ $t("Please enter a time in the future.") }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-r border-main-500 text-right pr-2">
              {{ $t("Add answers") }}
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r border-main-500"></td>
            <td class="pl-2">
              <date-time-picker
                v-model="debate.timetable.debatingStart"
                v-bind:class="{ invalid: debatingStartInvalid }"
              ></date-time-picker>
              <p class="text-red-500 my-1" v-if="debatingStartInvalid">
                {{
                  $t("Please enter a time after the start of adding answers.")
                }}
              </p>
              <p v-else class="placeholder text-red-500 my-1">
                {{
                  $t("Please enter a time after the start of adding answers.")
                }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-r border-main-500 text-right pr-2">
              {{ $t("Debate") }}
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r border-main-500"></td>
            <td class="pl-2">
              <date-time-picker
                v-model="debate.timetable.votingStart"
                v-bind:class="{ invalid: votingStartInvalid }"
              ></date-time-picker>
              <p class="text-red-500 my-1" v-if="votingStartInvalid">
                {{ $t("Please enter a time after the start of the debate.") }}
              </p>
              <p v-else class="placeholder text-red-500 my-1">
                {{ $t("Please enter a time after the start of the debate.") }}
              </p>
            </td>
          </tr>
          <tr>
            <td class="border-r border-main-500 text-right pr-2">
              {{ $t("Vote") }}
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="border-r border-main-500"></td>
            <td class="pl-2">
              <date-time-picker
                v-model="debate.timetable.votingEnd"
                v-bind:class="{ invalid: votingEndInvalid }"
              ></date-time-picker>
              <p class="text-red-500 my-1" v-if="votingEndInvalid">
                {{ $t("Please enter a time after the start of voting.") }}
              </p>
              <p v-else class="placeholder text-red-500 my-1">
                {{ $t("Please enter a time after the start of voting.") }}
              </p>
            </td>
          </tr>
        </table>
      </div>

      <div
        v-else-if="displayInvitations"
        key="invitations"
        v-bind:class="{
          prev: prev == 2,
          next: next == 2,
          left: left,
          right: right,
        }"
      >
        <div>
          <segmented-control
            v-bind:values="INVITE_METHODS"
            v-bind:value="selectedInviteMethod"
            @input="(value) => (rawSelectedInviteMethod = value)"
          ></segmented-control>
        </div>

        <div v-if="selectedInviteMethod === INVITE_METHODS[0]">
          <div class="flex flex-row items-end">
            <label for="name" class="flex-grow-0 mr-2">{{
              $t("Search")
            }}</label>
            <input
              id="name"
              type="search"
              autocomplete="off"
              v-model="searchedName"
              class="border-b inline flex-grow"
            />
          </div>
          <div class="flex flex-wrap flex-row">
            <div
              v-for="account in filteredAccountsList"
              :key="account.id"
              class="w-full lg:w-64 flex flex-row card m-2 lg:m-4"
            >
              <span>{{ account.name }}</span>
              <checkbox
                v-model="account.invited"
                class="inline-block ml-auto mr-0"
              ></checkbox>
            </div>
          </div>
        </div>

        <div v-if="selectedInviteMethod === INVITE_METHODS[1]">
          <button class="auxiliary-button" @click="addEmailInvitation">
            <plus-icon alt class="w-5 h-5 mr-1 inline"></plus-icon>
            {{ $t("Add email invitation") }}
          </button>
          <div class="min-h-16 w-full my-4 table-container">
            <span
              v-if="debate.emailInvitees.length == 0"
              class="inline-block text-center text-gray-600 w-full"
              >{{ $t("No email invitations yet") }}</span
            >
            <div
              v-for="emailInvitation in debate.emailInvitees"
              v-bind:key="emailInvitation.key"
              class="flex flex-row justify-center"
            >
              <div
                class="flex-grow flex flex-col lg:flex-row my-2 lg:items-end"
              >
                <label v-bind:for="'name' + emailInvitation.key" class="mr-1">{{
                  $t("Name")
                }}</label>
                <input
                  type="text"
                  v-bind:id="'name' + emailInvitation.key"
                  v-model="emailInvitation.name"
                  v-focus
                  class="flex-grow border-b mb-4 -mt-1 lg:my-0 lg:mr-5"
                />
                <label
                  v-bind:for="'email' + emailInvitation.key"
                  class="mr-1"
                  >{{ $t("Email") }}</label
                >
                <input
                  type="email"
                  v-bind:id="'email' + emailInvitation.key"
                  v-model="emailInvitation.email"
                  @keyup.enter="addEmailInvitation"
                  class="flex-grow border-b mb-4 -mt-1 lg:my-0"
                />
              </div>
              <button
                class="auxiliary-button"
                v-on:click="deleteEmailInvitation(emailInvitation.key)"
              >
                <trash-icon
                  v-bind:alt="$t('Delete email invitation')"
                  class="w-5 h-5 flex-grow-0 my-auto"
                ></trash-icon>
              </button>
            </div>
          </div>
        </div>

        <div
          v-if="selectedInviteMethod === INVITE_METHODS[2]"
          class="text-center"
        >
          <checkbox
            v-model="debate.createPublicInviteLink"
            class="inline-block ml-auto mr-0"
          ></checkbox>
          <span class="ml-1">{{
            $t("Create a link that allows anyone who obtains it to join")
          }}</span>
          <p class="mt-2">
            {{ $t("The link will be shown in the debate until it starts") }}
          </p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Vue from "vue";
import DateTimePicker from "@/components/DateTimePicker.vue";
import gql from "graphql-tag";
import {
  PlusIcon,
  TrashIcon,
  ChevronLeftIcon,
  ChevronRightIcon,
} from "vue-feather-icons";
import Checkbox from "@/components/Checkbox.vue";
import SegmentedControl from "@/components/SegmentedControl.vue";
import { debatesOverviewFragment } from "@/fragments";
import { localAuthTokenQuery } from "@/queries";
import { getLocale } from "@/locale";
import Error from "@/components/Error.vue";

const CurrentScreen = {
  QuestionAndAnswers: "QuestionAndAnswers",
  Schedule: "Schedule",
  Invitations: "Invitations",
};

export const DebateKind = {
  MeritOfArgument: "MERIT_OF_ARGUMENT",
  RelevanceOfArgument: "RELEVANCE_OF_ARGUMENT",
  Other: "OTHER",
};

export default {
  name: "StartDebate",
  components: {
    ChevronLeftIcon,
    ChevronRightIcon,
    DateTimePicker,
    PlusIcon,
    TrashIcon,
    Checkbox,
    SegmentedControl,
    Error,
  },
  created() {
    let t1 = new Date();
    t1.setDate(t1.getDate() + 1);
    let t2 = new Date();
    t2.setDate(t2.getDate() + 2);
    let t3 = new Date();
    t3.setDate(t3.getDate() + 3);
    let t4 = new Date();
    t4.setDate(t4.getDate() + 4);

    this.debate.timetable.collectingAnswersStart = t1;
    this.debate.timetable.debatingStart = t2;
    this.debate.timetable.votingStart = t3;
    this.debate.timetable.votingEnd = t4;

    this.debate.locale = getLocale();
    this.debate.timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
  },
  data() {
    return {
      currentScreen: CurrentScreen.QuestionAndAnswers,
      prev: 0,
      next: 1,
      left: true,
      right: false,

      debate: {
        question: "",
        details: "",
        timetable: {
          collectingAnswersStart: new Date(),
          debatingStart: new Date(),
          votingStart: new Date(),
          votingEnd: new Date(),
        },
        firstAnswers: [],
        knownInvitees: [],
        emailInvitees: [],
        locale: "EN_US",
        timeZone: "Etc/UTC",
        createPublicInviteLink: false,
      },
      rawSelectedInviteMethod: null,

      searchedName: "",
      accountsList: [],

      email: "",

      linkInvitations: [],

      error: null,
    };
  },
  computed: {
    screenTitle() {
      if (this.currentScreen == CurrentScreen.QuestionAndAnswers) {
        return this.$t("Question");
      } else if (this.currentScreen == CurrentScreen.Schedule) {
        return this.$t("Schedule");
      } else if (this.currentScreen == CurrentScreen.Invitations) {
        return this.$t("Invitations");
      }
      return "";
    },
    previousScreenTitle() {
      if (this.currentScreen == CurrentScreen.QuestionAndAnswers) {
        return this.$t("Cancel");
      } else if (this.currentScreen == CurrentScreen.Schedule) {
        return this.$t("Back");
      } else if (this.currentScreen == CurrentScreen.Invitations) {
        return this.$t("Back");
      }
      return "";
    },
    nextScreenTitle() {
      if (this.currentScreen == CurrentScreen.QuestionAndAnswers) {
        return this.$t("Schedule");
      } else if (this.currentScreen == CurrentScreen.Schedule) {
        return this.$t("Invitations");
      } else if (this.currentScreen == CurrentScreen.Invitations) {
        return this.$t("Finish");
      }
      return "";
    },
    displayQuestionAndAnswers() {
      return this.currentScreen == CurrentScreen.QuestionAndAnswers;
    },
    displaySchedule() {
      return this.currentScreen == CurrentScreen.Schedule;
    },
    displayInvitations() {
      return this.currentScreen == CurrentScreen.Invitations;
    },
    collectingAnswersStartInvalid() {
      return this.debate.timetable.collectingAnswersStart <= new Date();
    },
    debatingStartInvalid() {
      return (
        this.debate.timetable.debatingStart <=
        this.debate.timetable.collectingAnswersStart
      );
    },
    votingStartInvalid() {
      return (
        this.debate.timetable.votingStart <= this.debate.timetable.debatingStart
      );
    },
    votingEndInvalid() {
      return (
        this.debate.timetable.votingEnd <= this.debate.timetable.votingStart
      );
    },
    filteredAccountsList() {
      return this.accountsList.filter((account) =>
        account.name.toLowerCase().includes(this.searchedName.toLowerCase())
      );
    },
    selectedInviteMethod() {
      return this.rawSelectedInviteMethod || this.INVITE_METHODS[0];
    },
    INVITE_METHODS() {
      return [
        { id: "contacts", display: this.$t("Contacts") },
        { id: "email", display: this.$t("Email") },
        { id: "link", display: this.$t("Link") },
      ];
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update: (data) => data.localAuthToken,
    },
    knownAccounts: {
      query: gql`
        query KnownAccounts($token: String!) {
          authenticatedQuery(token: $token) {
            ok {
              knownAccounts {
                id
                list {
                  id
                  name
                }
              }
            }
            err
          }
        }
      `,
      variables() {
        return { token: this.authToken };
      },
      update: function (data) {
        this.error = null;
        this.accountsList = data.authenticatedQuery.ok.knownAccounts.list.map(
          (account) => ({
            invited: false,
            ...account,
          })
        );
        return data.authenticatedQuery.ok.knownAccounts.list;
      },
      error(e) {
        this.error = e.graphQLErrors[0].message;
      },
      errorPolicy: "all",
    },
  },
  methods: {
    previousClicked() {
      this.left = false;
      this.right = true;
      if (this.currentScreen == CurrentScreen.QuestionAndAnswers) {
        this.prev = 0;
        this.next = -1;
        this.$router.go(-1);
      } else if (this.currentScreen == CurrentScreen.Schedule) {
        this.prev = 1;
        this.next = 0;
        Vue.nextTick(() => {
          this.currentScreen = CurrentScreen.QuestionAndAnswers;
        });
      } else if (this.currentScreen == CurrentScreen.Invitations) {
        this.prev = 2;
        this.next = 1;
        Vue.nextTick(() => {
          this.currentScreen = CurrentScreen.Schedule;
        });
      }
    },
    nextClicked() {
      this.left = true;
      this.right = false;
      if (this.currentScreen == CurrentScreen.QuestionAndAnswers) {
        this.prev = 0;
        this.next = 1;
        Vue.nextTick(() => {
          this.currentScreen = CurrentScreen.Schedule;
        });
      } else if (this.currentScreen == CurrentScreen.Schedule) {
        this.prev = 1;
        this.next = 2;
        Vue.nextTick(() => {
          this.currentScreen = CurrentScreen.Invitations;
        });
      } else if (this.currentScreen == CurrentScreen.Invitations) {
        this.prev = 2;
        this.next = 3;
        this.createDebate();
      }
    },
    async createDebate() {
      let debate = {};
      Object.assign(debate, this.debate);
      debate.firstAnswers.map((answer) => delete answer.key);
      debate.knownInvitees = this.accountsList
        .filter((account) => account.invited)
        .map((account) => ({
          id: account.id,
        }));
      debate.emailInvitees.map((emailInvitee) => delete emailInvitee.key);
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation CreateDebate(
            $authToken: String!
            $debate: TopLevelDebateInput!
          ) {
            authenticatedMutation(token: $authToken) {
              ok {
                createTopLevelDebate(debate: $debate) {
                  ...DebatesOverview
                }
              }
              err
            }
          }

          ${debatesOverviewFragment}
        `,
        variables: {
          authToken: this.authToken,
          debate: debate,
        },
        errorPolicy: "all",
      });
      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        this.$router.push("/");
      }
    },
    addAnswer() {
      this.debate.firstAnswers.push({ answer: "", key: new Date().getTime() });
    },
    deleteAnswer(key) {
      let i = this.debate.firstAnswers.findIndex((answer) => answer.key == key);
      this.debate.firstAnswers.splice(i, 1);
    },
    addEmailInvitation() {
      this.debate.emailInvitees.push({
        email: "",
        name: "",
        key: new Date().getTime(),
      });
    },
    deleteEmailInvitation(key) {
      let i = this.debate.emailInvitees.findIndex(
        (emailInvitation) => emailInvitation.key == key
      );
      this.debate.emailInvitees.splice(i, 1);
    },
  },
};
</script>
