<template>
  <div v-if="$apollo.loading">
    <loading></loading>
  </div>
  <div v-else>
    <h2 class="font-bold mb-4">{{ $t("Argument") }}</h2>

    <blockquote>
      <h3 class="font-bold">{{ concernedArgument.heading }}</h3>
      <markdown v-bind:markdown="concernedArgument.body"></markdown>
    </blockquote>

    <h2 class="font-bold my-4">{{ $t("Question") }}</h2>
    <ul>
      <li class="mb-2">
        <input id="merit" type="radio" v-model="selectedDebate" value="MERIT" />
        <label for="merit">
          <div class="radio-button"></div>
          <div class="label">{{ selectedDebateQuestions["MERIT"] }}</div>
        </label>
      </li>

      <li class="mb-2">
        <input
          id="relevance"
          type="radio"
          v-model="selectedDebate"
          value="RELEVANCE"
        />
        <label for="relevance">
          <div class="radio-button"></div>
          <div class="label">{{ selectedDebateQuestions["RELEVANCE"] }}</div>
        </label>
      </li>
    </ul>

    <div class="flex flex-row">
      <h2 class="font-bold mb-4 flex-grow">{{ $t("Answers") }}</h2>
    </div>

    <ul class="table-container">
      <li v-for="answer in answers[selectedDebate]" :key="answer.key">
        <span>{{ answer.answer }}</span>
      </li>
    </ul>

    <div class="flex flex-row justify-center">
      <button class="regular-button mt-8" @click="startDebate">
        {{ $t("Start Debate") }}
      </button>
    </div>

    <error v-if="error" v-bind:msg="error">{{
      $t("An error occurred.")
    }}</error>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { localAuthTokenQuery } from "@/queries";
import Loading from "@/components/Loading.vue";
import { TrashIcon, PlusIcon } from "vue-feather-icons";
import { DebateKind } from "@/views/StartDebate.vue";
import { debatesOverviewFragment, debatesAboutFragment } from "@/fragments";
import Error from "@/components/Error.vue";
import Markdown from "@/components/Markdown.vue";

export default {
  name: "StartDebateAbout",
  components: {
    Loading,
    Error,
    Markdown,
  },
  data: () => ({
    answers: null,
    selectedDebate: "MERIT",
    error: null,
  }),
  computed: {
    selectedDebateQuestions() {
      let questions = {
        MERIT: this.$t("Does this argument have merit?"),
        RELEVANCE: this.$t("Is this argument relevant?"),
      };
      return questions;
    },
    selectedDebateKind() {
      if (this.selectedDebate == "MERIT") {
        return DebateKind.MeritOfArgument;
      } else if (this.selectedDebate == "RELEVANCE") {
        return DebateKind.RelevanceOfArgument;
      } else {
        return null;
      }
    },
  },
  methods: {
    async startDebate() {
      let answers = this.answers[this.selectedDebate].map((answer) => ({
        answer: answer.answer,
      }));
      let debate = {
        concernedArgumentId: this.concernedArgument.id,
        kind: this.selectedDebateKind,
      };
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation StartDebateAbout(
            $token: String!
            $debate: SpecialSubDebateInput!
          ) {
            authenticatedMutation(token: $token) {
              ok {
                createSpecialSubDebate(debate: $debate) {
                  debatesAboutList {
                    ...DebatesAbout
                  }
                }
              }
            }
          }

          ${debatesAboutFragment}
        `,
        variables: {
          token: this.authToken,
          debate: debate,
        },
        errorPolicy: "all",
      });
      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        this.$router.go(-1);
      }
    },
    addAnswer() {
      this.answers[this.selectedDebate].push({
        answer: "",
        key: new Date().getTime(),
      });
    },
    deleteAnswer(key) {
      let i = this.answers[this.selectedDebate].findIndex(
        (answer) => answer.key == key
      );
      this.answers[this.selectedDebate].splice(i, 1);
    },
  },
  created() {
    this.answers = {
      MERIT: [
        { key: new Date().getTime() + ".1", answer: this.$t("Yes") },
        { key: new Date().getTime() + ".2", answer: this.$t("No") },
      ],
      RELEVANCE: [
        { key: new Date().getTime() + ".3", answer: this.$t("Yes") },
        { key: new Date().getTime() + ".4", answer: this.$t("No") },
      ],
    };
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update: (data) => data.localAuthToken,
    },
    concernedArgument: {
      query: gql`
        query ConcernedArgument($token: String!, $argumentId: Uuid!) {
          authenticatedQuery(token: $token) {
            ok {
              argument(argumentId: $argumentId) {
                id
                heading
                body
                debate {
                  answers {
                    id
                    list {
                      id
                      answer
                    }
                  }
                }
              }
            }
          }
        }
      `,
      variables() {
        return {
          token: this.authToken,
          argumentId: this.$route.query.argument,
        };
      },
      update: function (data) {
        this.error = null;
        return data.authenticatedQuery.ok.argument;
      },
      error(e) {
        this.error = e.graphQLErrors[0].message;
      },
      errorPolicy: "all",
      skip() {
        return this.$route.query.argument == null;
      },
    },
  },
};
</script>
