<template>
  <div class="w-full h-full flex flex-col align-middle justify-center">
    <transition name="fade" mode="out-in">
      <div key="0" v-if="error || verifyEmailError" class="text-center">
        <error v-if="verifyEmailError == 'MALFORMED_TOKEN'">{{
          $t("This link does not match the format we were expecting.")
        }}</error>
        <error v-else-if="verifyEmailError == 'INVALID_TOKEN'">{{
          $t("This link is invalid.")
        }}</error>
        <error v-if="error" v-bind:msg="error">{{
          $t("An error occurred.")
        }}</error>
      </div>
      <div key="1" v-if="!verified && error == null" class="text-center">
        <loading class="w-20 h-20"></loading>
      </div>
      <div key="2" v-else-if="error == null" class="text-center">
        <check-icon
          alt
          class="inline-block w-20 h-20 text-main-500"
        ></check-icon>
        <p class="mb-4 text-lg">{{ $t("Your email has been verified.") }}</p>
        <button class="regular-button" @click="goToLogin">
          {{ $t("Log in") }}
        </button>
      </div>
      <div key="3" v-else class="text-center">
        <x-icon alt class="inline-block w-20 h-20 text-red-500"></x-icon>
        <div v-if="error === 'malformed_token'">
          <p>
            {{ $t("This link does not match the format we were expecting.") }}
          </p>
          <p>{{ $t("Are you sure that you copied it correctly?") }}</p>
        </div>
        <p v-else-if="error === 'invalid_token'">
          {{ $t("This link is invalid.") }}
        </p>
        <p v-else>{{ $t("An error occurred.") }}</p>
      </div>
    </transition>
  </div>
</template>

<script>
import { CheckIcon, XIcon } from "vue-feather-icons";
import Loading from "@/components/Loading.vue";
import gql from "graphql-tag";
import Error from "@/components/Error.vue";

export default {
  name: "verify-email-link",
  components: {
    Loading,
    CheckIcon,
    XIcon,
    Error,
  },
  data: () => ({
    verified: false,
    verifyEmailError: null,
    error: null,
  }),
  mounted: function () {
    this.verifyEmail();
  },
  methods: {
    async verifyEmail() {
      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation VerifyEmail($token: String!) {
            verifyEmail(token: $token) {
              err
            }
          }
        `,
        variables: {
          token: this.$route.params.token,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
        this.verifyEmailError = null;
      } else if (result.data.verifyEmail.err) {
        this.error = null;
        this.verifyEmailError = result.data.verifyEmail.err;
      } else {
        this.error = null;
        this.verifyEmailError = null;
        this.verified = true;
      }
    },
    goToLogin() {
      this.$router.push("/login");
    },
  },
};
</script>
