<template>
  <div>
    <header>
      <debate-status-bar
        v-bind:status="stateIndex"
        v-bind:collectingAnswersStart="
          debate === null ? null : debate.collectingAnswersStart
        "
        v-bind:debatingStart="debate === null ? null : debate.debatingStart"
        v-bind:votingStart="debate === null ? null : debate.votingStart"
        v-bind:votingEnd="debate === null ? null : debate.votingEnd"
        v-bind:showButtons="debate != null"
        v-bind:class="{ 'mb-5': debate && !debate.concernedArgument }"
        @refresh="refresh"
      ></debate-status-bar>
      <div v-if="debate && debate.concernedArgument">
        <button
          class="auxiliary-button -ml-5"
          @click="$router.push('/debate/' + debate.concernedArgument.debate.id)"
        >
          <corner-left-up-icon
            alt=""
            class="inline-block"
          ></corner-left-up-icon>
          {{
            $t("Go to parent-debate $debate", {
              debate: debate.concernedArgument.debate.question,
            })
          }}
        </button>
      </div>
    </header>

    <div v-if="debate == null">
      <loading></loading>
    </div>
    <div v-else>
      <!-- Question and details -->
      <h1 class="text-3xl mb-2 leading-tight">{{ debate.question }}</h1>
      <markdown v-bind:markdown="debate.details"></markdown>
      <!-- Participants -->
      <participants
        v-bind:participants="debate.participants.list"
      ></participants>

      <hr />

      <!-- Not started yet -->
      <div v-if="debate.state === DebateState.Waiting" class="text-center mt-5">
        <p>{{ $t("This debate has not started yet.") }}</p>
        <div v-if="debate.publicInviteLink">
          <p class="mt-5 block">
            {{ $t("Send this link to people you want to invite:") }}
          </p>
          <a
            v-bind:href="debate.publicInviteLink"
            v-if="debate.publicInviteLink"
            class="text-sm font-mono inline-block"
            >{{ debate.publicInviteLink }}</a
          >
        </div>
      </div>
      <!-- Explanations of voting -->
      <div v-if="debate.state === DebateState.Voting">
        <p v-if="!debate.voteCast" class="italic my-1">
          {{
            $t(
              "Vote by weighing the arguments below. You can change the order of answers before casting your vote."
            )
          }}
        </p>
        <p v-else class="italic my-1">{{ $t("You have already voted.") }}</p>
        <hr />
      </div>
      <div v-if="debate.state === DebateState.Combined">
        <p v-if="!debate.preparedVote.preparedBallot" class="italic my-1">
          {{
            $t(
              "Prepare your vote by weighing the arguments below. You can change the order of answers manually as well. Your Vote will be cast automatically when voting on the parent debate begins."
            )
          }}
        </p>
        <p v-else class="italic">{{ $t("You’ve prepared your vote.") }}</p>
        <hr />
      </div>
      <!-- Voting results -->
      <div v-else-if="debate.state === DebateState.Finished">
        <h2 class="text-lg my-2">{{ $t("Voting Results") }}</h2>
        <ul v-if="debate.votingResults != null" class="table-container mb-2">
          <li
            v-for="rankedAnswer in debate.votingResults.list"
            :key="rankedAnswer.answer.id"
            class="text-sm"
            v-bind:class="{ 'font-bold text-lg': rankedAnswer.rank == 0 }"
          >
            {{ rankedAnswer.rank + 1 }}.
            {{ rankedAnswer.answer.answer }}
          </li>
        </ul>
        <div v-else class="text-center my-20">
          {{ $t("No one voted or there were no possible answers.") }}
        </div>
        <progress-button
          v-if="debate.summaryLinks.ok"
          class="regular-button my-3 mx-auto block"
          @click="downloadSummary"
          v-bind:loading="downloadLoading"
          >{{ $t("Download summary") }}</progress-button
        >
        <error v-else-if="debate.summaryLinks.err == 'NOT_READY_YET'">{{
          $t("The summary is not ready yet.")
        }}</error>
        <error v-else-if="debate.summaryLinks.err == 'DEBATE_IN_PROGRESS'">{{
          $t("This debate is not finished yet.")
        }}</error>
        <hr />
      </div>
      <!-- List of answers -->
      <div
        v-if="
          debate.state === DebateState.CollectingAnswers ||
          debate.state === DebateState.Debating ||
          debate.state === DebateState.Combined
        "
      >
        <h2 class="text-lg font-bold my-2">
          {{ $tc("n Answers", debate.answers.list.length) }}
        </h2>
        <ul class="table-container">
          <li v-for="answer in debate.answers.list" :key="answer.id">
            {{ answer.answer }}
          </li>
          <transition name="fade" mode="out-in">
            <li v-if="addingAnswer" class="flex flex-row mt-2 pt-2" :key="1">
              <textarea
                v-model="newAnswer"
                v-focus
                wrap="soft"
                maxlength="140"
                style="resize: none"
                v-bind:placeholder="$t('Answer')"
                aria-label="New Answer"
                class="flex-grow h-32 md:h-12 border border-gray-500 p-1"
              />
              <button class="auxiliary-button flex-grow-0" @click="addAnswer">
                <check-icon></check-icon>
              </button>
            </li>
          </transition>
        </ul>
        <div
          v-if="
            debate.state !== DebateState.Debating &&
            !addingAnswer &&
            debate.allowAddingMoreAnswers
          "
          class="flex flex-row justify-center mt-8"
          :key="2"
        >
          <button class="regular-button" @click="addingAnswer = true">
            <plus-icon alt class="inline-block w-4 h-4 mr-1"></plus-icon>
            {{ $t("Add an answer") }}
          </button>
        </div>
      </div>
      <!-- Arguments -->
      <div
        v-if="
          debate.state === DebateState.Debating ||
          debate.state === DebateState.Combined
        "
      >
        <hr />
        <h2 class="text-lg font-bold mt-2">
          {{ $tc("n Arguments", debate.arguments.list.length) }}
        </h2>
        <ul class="table-container">
          <li v-for="argument in debate.arguments.list" :key="argument.id">
            <argument
              v-bind:argument="argument"
              v-bind:state="debate.state"
              v-bind:voted="debate.voteCast"
            ></argument>
          </li>
        </ul>
      </div>
      <div v-else-if="debate.state === DebateState.Voting">
        <h2 class="text-lg font-bold my-1">
          {{
            $tc(
              "n Arguments to Consider",
              debate.consideredArguments.list.length
            )
          }}
        </h2>
        <ul class="table-container">
          <li
            v-for="argument in debate.consideredArguments.list"
            :key="argument.id"
          >
            <argument
              v-bind:argument="argument"
              v-bind:state="debate.state"
              v-bind:voted="debate.voteCast"
            ></argument>
          </li>
        </ul>
      </div>
      <div v-else-if="debate.state === DebateState.Finished">
        <h2 class="text-lg font-bold my-1">
          {{
            $tc(
              "n Considered Arguments",
              debate.consideredArguments.list.length
            )
          }}
        </h2>
        <ul class="table-container">
          <li
            v-for="argument in debate.consideredArguments.list"
            :key="argument.id"
          >
            <argument
              v-bind:argument="argument"
              v-bind:state="debate.state"
              v-bind:voted="debate.voteCast"
            ></argument>
          </li>
        </ul>
        <h2 class="text-lg font-bold mt-8 mb-1">
          {{
            $tc(
              "n Unconsidered Arguments",
              debate.unconsideredArguments.list.length
            )
          }}
        </h2>
        <ul class="table-container">
          <li
            v-for="argument in debate.unconsideredArguments.list"
            :key="argument.id"
          >
            <argument
              v-bind:argument="argument"
              v-bind:state="debate.state"
              v-bind:voted="debate.voteCast"
            ></argument>
          </li>
        </ul>
      </div>
      <!-- Button to add an argument -->
      <div
        v-if="
          debate.state === DebateState.Debating ||
          debate.state === DebateState.Combined
        "
        class="text-center mt-8"
      >
        <button class="regular-button inline-block mb-2" @click="addArgument">
          <plus-icon alt class="inline-block w-4 h-4 mr-1"></plus-icon>
          {{ $t("Add an Argument") }}
        </button>
      </div>

      <!-- Ballot, button to vote -->
      <div v-if="debate.state === DebateState.Voting">
        <hr v-if="!debate.preparedVote.preparedBallot" />
        <ballot v-if="!debate.voteCast"></ballot>
        <div
          v-if="!debate.voteCast"
          class="flex flex-row justify-center mt-4 mb-2"
        >
          <button class="regular-button" @click="vote">
            <vote-icon alt class="inline-block w-4 h-4 mr-1"></vote-icon>
            {{ $t("Vote") }}
          </button>
        </div>

        <error v-if="votingError == 'ALREADY_VOTED'">{{
          $t("You have already cast your vote.")
        }}</error>
        <error v-else-if="votingError == 'UNAUTHORIZED'">{{
          $t("You are not allowed to vote on this debate.")
        }}</error>
        <error v-else-if="votingError == 'INVALID_DATA'">{{
          $t("An error occurred.")
        }}</error>
        <error v-if="error" v-bind:msg="error">{{
          $t("An error occurred.")
        }}</error>
      </div>
      <!-- Ballot, button to prepare vote -->
      <div v-else-if="debate.state === DebateState.Combined">
        <hr />
        <ballot></ballot>
        <div class="flex flex-row justify-center mt-4 mb-2">
          <button class="regular-button" @click="prepareVote">
            <vote-icon alt class="inline-block w-4 h-4 mr-1"></vote-icon>
            {{ $t("Prepare vote") }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 10 10"
              preserveAspectRatio="xMidYMid"
              class="w-4 h-4 inline-block ml-1"
              v-if="debate.reviewRequired.reviewRequired"
            >
              <circle
                cx="5"
                cy="5"
                r="4.5"
                class="text-red-500"
                style="stroke: #f56565; fill: #f56565"
              />
            </svg>
          </button>
        </div>
      </div>
      <div v-if="debate.state === DebateState.Finished">
        <h2 class="text-lg font-bold mt-8 mb-1">{{ $t("Ballots") }}</h2>
        <table id="ballots-table">
          <tr>
            <th class="left-most-column">{{ $t("Participant") }}</th>
            <th
              v-for="(answer, index) in debate.answers.list"
              v-bind:key="answer.id"
            >
              {{ index + 1 }}.
            </th>
          </tr>
          <tr v-for="ballot in debate.ballots.list" v-bind:key="ballot.id">
            <td class="left-most-column">{{ ballot.voter.name }}</td>
            <td
              v-for="answer in shortenAnswers(ballot.answerRanking)"
              v-bind:key="answer"
            >
              {{ answer }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import DebateStatusBar from "@/components/DebateStatusBar.vue";
import Loading from "@/components/Loading.vue";
import Argument from "@/components/Argument.vue";
import Error from "@/components/Error.vue";
import Markdown from "@/components/Markdown.vue";
import Ballot from "@/super-components/Ballot.vue";
import ProgressButton from "@/components/ProgressButton.vue";
import { localAuthTokenQuery } from "@/queries";
import gql from "graphql-tag";
import {
  PlusIcon,
  CheckIcon,
  CopyIcon,
  CornerLeftUpIcon,
} from "vue-feather-icons";
import VoteIcon from "@/components/VoteIcon.vue";
import Participants from "@/components/Participants.vue";
import { answerFragment, debatesAboutFragment } from "@/fragments";

export const DebateState = {
  CollectingAnswers: "COLLECTING_ANSWERS",
  Debating: "DEBATING",
  Voting: "VOTING",
  Finished: "FINISHED",
  Combined: "COMBINED",
  Waiting: "WAITING",
};

export default {
  name: "ViewDebate",
  components: {
    DebateStatusBar,
    Loading,
    Argument,
    Error,
    Markdown,
    Ballot,
    PlusIcon,
    CheckIcon,
    VoteIcon,
    CornerLeftUpIcon,
    Participants,
    ProgressButton,
  },
  data: () => ({
    addingAnswer: false,
    newAnswer: "",
    DebateState: DebateState,
    downloadLoading: false,

    error: null,
    votingError: null,
  }),
  methods: {
    addArgument() {
      this.$router.push("/add-argument/" + this.debate.id);
    },
    async addAnswer() {
      let answerInput = {
        answer: this.newAnswer,
        debateId: this.debate.id,
      };

      const result = await this.$apollo.mutate({
        mutation: gql`
          mutation AddAnswer($token: String!, $answer: AnswerInput!) {
            authenticatedMutation(token: $token) {
              ok {
                addAnswer(answer: $answer) {
                  answersList {
                    id
                    list {
                      ...Answer
                    }
                  }
                }
              }
            }
          }

          ${answerFragment}
        `,
        variables: {
          token: this.authToken,
          answer: answerInput,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
      } else {
        this.error = null;
        this.addingAnswer = false;
        this.newAnswer = "";
      }
    },
    async vote() {
      let vote = {
        debateId: this.debate.id,
        answerRanking: this.$store.state.debate.ballotAnswerOrder.map(
          (answerId, i) => ({
            rank: i,
            answerId,
          })
        ),
      };

      let result = await this.$apollo.mutate({
        mutation: gql`
          mutation Vote($token: String!, $vote: VoteInput!) {
            authenticatedMutation(token: $token) {
              ok {
                castVote(newVote: $vote) {
                  ok {
                    id
                    voteCast
                  }
                  err
                }
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          vote,
        },
        errorPolicy: "all",
      });

      if (result.errors) {
        this.error = result.errors[0].message;
        this.votingError = null;
      } else if (result.data.authenticatedMutation.ok.castVote.err) {
        this.votingError = result.data.authenticatedMutation.ok.castVote.err;
      } else {
        this.error = null;
        this.votingError = null;
        this.$store.commit("debate/setVoteCast", {
          voteCast: result.data.authenticatedMutation.ok.castVote.ok.voteCast,
        });
      }
    },
    async prepareVote() {
      let weightDict = this.$store.state.debate.argumentWeights;
      let weights = Object.keys(weightDict).map((argumentId) => ({
        argumentId,
        infinite: weightDict[argumentId].primaryWeight > 0,
        regularWeight:
          weightDict[argumentId].primaryWeight > 0
            ? null
            : weightDict[argumentId].secondaryWeight,
      }));

      let promiseWeights = this.$apollo.mutate({
        mutation: gql`
          mutation SetArgumentWeights(
            $token: String!
            $weights: [ArgumentWeightInput!]!
          ) {
            authenticatedMutation(token: $token) {
              ok {
                setArgumentWeights(weights: $weights) {
                  id
                  weight {
                    infinite
                    regularWeight
                  }
                }
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          weights,
        },
        errorPolicy: "all",
      });

      let vote = {
        debateId: this.debate.id,
        answerRanking: this.$store.state.debate.ballotAnswerOrder.map(
          (answerId, i) => ({
            rank: i,
            answerId,
          })
        ),
      };

      let promiseVote = this.$apollo.mutate({
        mutation: gql`
          mutation PrepareVote($token: String!, $vote: VoteInput!) {
            authenticatedMutation(token: $token) {
              ok {
                prepareVote(newVote: $vote) {
                  cachedPreparedBallot {
                    id
                    preparedBallot {
                      ballot {
                        id
                        answerRanking {
                          rank
                          answer {
                            id
                          }
                        }
                      }
                    }
                  }
                  argumentsConsidered {
                    id
                    considered
                  }
                  reviewRequired {
                    id
                    reviewRequired
                  }
                }
              }
              err
            }
          }
        `,
        variables: {
          token: this.authToken,
          vote,
        },
        errorPolicy: "all",
      });

      Promise.all([promiseWeights, promiseVote]).then(
        ([resultWeights, resultVote]) => {
          if (resultVote.errors) {
            this.error = resultVote.errors[0].message;
          } else if (resultWeights.errors) {
            this.error = resultWeights.errors[0].message;
          } else {
            this.error = null;
            this.$store.commit("debate/setBallotAnswerOrderByBallot", {
              ballot:
                result.data.authenticatedMutation.ok.prepareVote
                  .cachedPreparedBallot.preparedBallot.ballot,
            });
          }
        }
      );
    },
    async downloadSummary() {
      this.downloadLoading = true;
      let response = await fetch(this.debate.summaryLinks.ok.authenticate, {
        method: "POST",
        mode: "cors",
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ auth_token: this.authToken }),
      });
      this.downloadLoading = false;
      window.location = this.debate.summaryLinks.ok.pdf;
    },
    async refresh() {
      this.$store.commit("debate/setViewedDebate", {
        viewedDebate: null,
      });
      this.$apollo.queries.rawDebate.refetch();
    },
    shortenAnswers(answers) {
      const sortedByRank = [...answers].sort((a, b) => a.rank - b.rank);
      return sortedByRank.map(
        (rankedAnswer) => this.answerIdsToDisplayedIds[rankedAnswer.answer.id]
      );
    },
  },
  computed: {
    stateIndex() {
      if (this.debate) {
        if (this.debate.state === DebateState.CollectingAnswers) {
          return 1;
        } else if (this.debate.state === DebateState.Debating) {
          return 2;
        } else if (this.debate.state === DebateState.Voting) {
          return 3;
        } else if (this.debate.state === DebateState.Finished) {
          return 4;
        } else if (this.debate.state === DebateState.Combined) {
          return 5;
        } else {
          return null;
        }
      } else {
        return null;
      }
    },
    debate() {
      return this.$store.state.debate.viewedDebate;
    },
    answerIdsToDisplayedIds() {
      var result = {};
      this.debate.votingResults.list.forEach(
        (rankedAnswer) =>
          (result[rankedAnswer.answer.id] = rankedAnswer.rank + 1)
      );
      return result;
    },
  },
  apollo: {
    authToken: {
      query: localAuthTokenQuery,
      update: (data) => data.localAuthToken,
    },
    rawDebate: {
      query: gql`
        fragment Argument on Argument {
          id
          heading
          body
          supportedAnswers {
            id
            list {
              id
              answer
            }
          }
          debatesAbout {
            ...DebatesAbout
          }
          weight {
            infinite
            regularWeight
          }
          author {
            name
          }
          considered {
            id
            considered
          }
        }

        query Debate($token: String!, $id: Uuid!) {
          authenticatedQuery(token: $token) {
            ok {
              debate(debateId: $id) {
                id
                question
                details
                state
                allowAddingMoreAnswers
                answers {
                  id
                  list {
                    ...Answer
                  }
                }
                arguments {
                  id
                  list {
                    ...Argument
                  }
                }
                consideredArguments {
                  id
                  list {
                    ...Argument
                  }
                }
                unconsideredArguments {
                  id
                  list {
                    ...Argument
                  }
                }
                voteCast {
                  id
                  voteCast
                }
                votingResults {
                  list {
                    answer {
                      id
                      answer
                    }
                    rank
                  }
                }
                ballots {
                  id
                  list {
                    id
                    answerRanking {
                      rank
                      answer {
                        id
                        answer
                      }
                    }
                    voter {
                      id
                      name
                    }
                  }
                }
                preparedVote {
                  id
                  preparedBallot {
                    ballot {
                      id
                      answerRanking {
                        rank
                        answer {
                          id
                          answer
                        }
                      }
                    }
                  }
                }
                collectingAnswersStart
                debatingStart
                votingStart
                votingEnd
                participants {
                  list {
                    name
                    id
                  }
                }
                reviewRequired {
                  id
                  reviewRequired
                }
                publicInviteLink
                summaryLinks {
                  ok {
                    authenticate
                    pdf
                    json
                  }
                  err
                }
                concernedArgument {
                  debate {
                    id
                    question
                  }
                }
              }
            }
            err
          }
        }

        ${answerFragment}
        ${debatesAboutFragment}
      `,
      variables() {
        return { token: this.authToken, id: this.$route.params.debateId };
      },
      update: function (data) {
        this.error = null;
        if (data.authenticatedQuery.err) {
          this.$router.push("/login");
        }

        let modifiedDebate = {};
        Object.assign(modifiedDebate, data.authenticatedQuery.ok.debate);
        modifiedDebate.voteCast = modifiedDebate.voteCast.voteCast;

        this.$store.dispatch("debate/changeViewedDebate", {
          viewedDebate: modifiedDebate,
        });
      },
      error(e) {
        this.error = e.graphQLErrors[0].message;
      },
      errorPolicy: "all",
    },
  },
  beforeRouterEnter() {
    this.$store.commit("debate/reset");
  },
  created() {
    setInterval(() => {
      if (this.debate == null) {
        return;
      }
      let now = Date.now();
      let collectingAnswersStart = Date.parse(
        this.debate.collectingAnswersStart
      );
      let debatingStart = Date.parse(this.debate.debatingStart);
      let votingStart = Date.parse(this.debate.votingStart);
      let votingEnd = Date.parse(this.debate.votingEnd);
      if (
        (this.debate.state === DebateState.Waiting &&
          collectingAnswersStart <= now) ||
        (this.debate.state === DebateState.CollectingAnswers &&
          debatingStart <= now) ||
        (this.debate.state === DebateState.Debating && votingStart <= now) ||
        (this.debate.state === DebateState.Voting && votingEnd <= now)
      ) {
        this.$apollo.queries.rawDebate.refetch();
      }
    }, 1000);
  },
};
</script>

<style lang="postcss" scoped>
#ballots-table th {
  @apply border-b px-2;
}
#ballots-table td {
  @apply px-2;
}

#ballots-table .left-most-column {
  @apply border-r;
}
</style>

<i18n>
{
  "en": {
    "No one voted or there were no possible answers.": "No one voted or there were no possible answers.",
    "Go to parent-debate $debate": "Go to parent-debate “{debate}”",
    "Participant": "Participant"
  },
  "de": {
    "No one voted or there were no possible answers.": "Niemand hat abgestimmt oder es gab keine Antwortmöglichkeiten.",
    "Go to parent-debate $debate": "Zur übergeordneten Diskussion »{debate}«",
    "Participant": "Teilnehmer"
  }
}
</i18n>