map $http_accept_language $lang {
    default en;
    ~*^de de;
}

server {
    listen 127.0.0.1:8000;

    root /etc/nginx/landing-page;

    location = / {
        return 302 https://{{ domain }}/$lang;
    }
}
