<template>
  <div>
    <h3 class="text-2xl">
      {{ argument.heading }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        viewBox="0 0 10 10"
        preserveAspectRatio="xMidYMid"
        class="w-4 h-4 inline-block ml-1"
        v-if="!argument.considered.considered"
      >
        <circle
          cx="5"
          cy="5"
          r="4.5"
          class="text-red-500"
          style="stroke: #f56565; fill: #f56565"
        />
      </svg>
    </h3>

    <markdown v-bind:markdown="argument.body" class="mb-2"></markdown>
    <ul class="overflow-hidden">
      <span class="mr-2 text-sm">{{ $t("supports:") }}</span>
      <li
        class="inline-block mb-2"
        v-for="supportedAnswer in argument.supportedAnswers.list"
        :key="supportedAnswer.id"
      >
        <span
          class="inline-block ml-2 px-2 pt-1 rounded text-sm bg-accent-500"
          >{{ supportedAnswer.answer }}</span
        >
      </li>
      <button
        v-if="state == DebateState.Debating || state == DebateState.Combined"
        class="auxiliary-button inline-block float-right"
        @click="discussArgument(argument.id)"
      >
        <plus-icon alt class="inline-block mr-1"></plus-icon>
        {{ $t("Discuss") }}
      </button>
    </ul>
    <span class="text-sm italic">- {{ argument.author.name }}</span>
    <ul class="mt-4">
      <li
        v-for="debate in argument.debatesAbout.list"
        :key="debate.id"
        class="text-main-500 mt-2"
      >
        <message-circle-icon
          alt
          class="inline-block w-4 h-4 mr-1"
        ></message-circle-icon>
        <a @click="$router.push('/debate/' + debate.id)">{{
          debate.question
        }}</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          viewBox="0 0 10 10"
          preserveAspectRatio="xMidYMid"
          class="w-4 h-4 inline-block ml-1"
          v-if="debate.reviewRequired.reviewRequired"
        >
          <circle
            cx="5"
            cy="5"
            r="4.5"
            class="text-red-500"
            style="stroke: #f56565; fill: #f56565"
          />
        </svg>
      </li>
    </ul>
    <argument-weight-picker
      v-if="
        (state === DebateState.Voting && !voted) ||
        state === DebateState.Combined
      "
      v-bind:value="argumentWeights[argument.id]"
      @input="
        (weight) =>
          $store.dispatch('debate/changeWeightAndReorder', {
            argumentId: argument.id,
            weight,
          })
      "
      class="mt-2"
    ></argument-weight-picker>
  </div>
</template>

<script>
import ArgumentWeightPicker from "@/components/ArgumentWeightPicker.vue";
import { MessageCircleIcon, PlusIcon } from "vue-feather-icons";
import { DebateState } from "@/views/ViewDebate.vue";
import Markdown from "@/components/Markdown.vue";

export default {
  name: "Argument",
  components: {
    ArgumentWeightPicker,
    Markdown,
    MessageCircleIcon,
    PlusIcon,
  },
  props: {
    argument: Object,
    state: String,
    voted: Boolean,
  },
  data: () => ({
    weights: {},
    DebateState: DebateState,
  }),
  computed: {
    argumentWeights() {
      return this.$store.state.debate.argumentWeights;
    },
  },
  methods: {
    discussArgument(argumentId) {
      this.$router.push("/start-debate-about?argument=" + argumentId);
    },
  },
};
</script>
