<template>
  <div>
    <input
      type="range"
      min="0"
      max="6"
      step="1"
      v-model="sliderValue"
      @input="input()"
      class="w-full"
    />
    <div class="flex flex-row justify-between mx-1">
      <span>0</span>
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>∞</span>
    </div>
  </div>
</template>

<script>
import { ArgumentWeight } from "@/argumentWeight";

export default {
  name: "ArgumentWeightPicker",
  props: {
    value: ArgumentWeight,
  },
  data: function () {
    return {
      sliderValue:
        this.value.primaryWeight > 0 ? 6 : this.value.secondaryWeight,
    };
  },
  methods: {
    input() {
      let sliderValue = Number.parseInt(this.sliderValue);
      let value =
        sliderValue === 6
          ? new ArgumentWeight(1, 0)
          : new ArgumentWeight(0, sliderValue);
      this.$emit("input", value);
    },
  },
};
</script>
