<template>
  <div @click="clicked">
    <div
      id="checkbox"
      role="checkbox"
      v-bind:aria-checked="String(value)"
      tabindex="0"
      class="inline-block w-4 h-4 border-2 border-gray-500 rounded-sm align-middle"
      v-bind:class="{ checked: value }"
      @keyup.space="clicked"
    >
      <check-icon
        v-bind:alt="$t('Confirm')"
        v-if="value"
        class="w-4 h-4 text-white"
      ></check-icon>
    </div>
    <label for="checkbox" class="ml-1 align-middle">
      <slot></slot>
    </label>
  </div>
</template>

<style lang="postcss">
div[role="checkbox"].checked {
  @apply bg-main-500 border-none;
}
</style>

<script>
import { CheckIcon } from "vue-feather-icons";

export default {
  name: "Checkbox",
  components: {
    CheckIcon,
  },
  props: {
    value: Boolean,
  },
  methods: {
    clicked() {
      this.$emit("input", !this.value);
    },
  },
};
</script>
