<template>
  <div>
    <input
      aria-label="date"
      type="text"
      v-bind:placeholder="$t('YYYY-MM-DD')"
      required
      size="10"
      v-model="rawDate"
      class="border-b border-gray-600"
      v-bind:class="{ invalid: dateInvalid }"
    />
    <input
      aria-label="time"
      type="text"
      v-bind:placeholder="$t('HH:MM')"
      required
      size="5"
      v-model="rawTime"
      class="border-b border-gray-600"
      v-bind:class="{ invalid: timeInvalid }"
    />
  </div>
</template>

<script>
export default {
  name: "date-time-picker",
  props: {
    value: Date,
  },
  data: () => ({
    dateInvalid: false,
    timeInvalid: false,
    rawDateStr: null,
    rawTimeStr: null,
  }),
  computed: {
    rawDate: {
      get() {
        if (this.rawDateStr != null) {
          return this.rawDateStr;
        } else {
          return this.date;
        }
      },
      set(s) {
        if (this.rawDateStr == null && s == "") {
          return;
        }
        this.rawDateStr = s;
        this.date = s;
      },
    },
    rawTime: {
      get() {
        if (this.rawTimeStr != null) {
          return this.rawTimeStr;
        } else {
          return this.time;
        }
      },
      set(s) {
        if (this.rawTimeStr == null && s == "") {
          return;
        }
        this.rawTimeStr = s;
        this.time = s;
      },
    },
    date: {
      get() {
        return (
          this.value.getFullYear().toString().padStart(4, "0") +
          "-" +
          (this.value.getMonth() + 1).toString().padStart(2, "0") +
          "-" +
          this.value.getDate().toString().padStart(2, "0")
        );
      },
      set(s) {
        if (!/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/.test(s)) {
          this.dateInvalid = true;
        } else {
          this.dateInvalid = false;
          let year = Number.parseInt(s.substr(0, 4));
          let month = Number.parseInt(s.substr(5, 2));
          let day = Number.parseInt(s.substr(8, 2));
          this.value.setFullYear(year);
          this.value.setMonth(month - 1);
          this.value.setDate(day);
          let valueCopy = new Date(this.value.getTime());
          this.$emit("input", valueCopy);
        }
      },
    },
    time: {
      get() {
        return (
          this.value.getHours().toString().padStart(2, "0") +
          ":" +
          this.value.getMinutes().toString().padStart(2, "0")
        );
      },
      set(s) {
        if (!/^[0-9]{2}:[0-9]{2}$/.test(s)) {
          this.timeInvalid = true;
        } else {
          this.timeInvalid = false;
          let hours = Number.parseInt(s.substr(0, 2));
          let minutes = Number.parseInt(s.substr(3, 2));
          this.value.setHours(hours);
          this.value.setMinutes(minutes);
          this.value.setSeconds(0, 0);
          let valueCopy = new Date(this.value.getTime());
          this.$emit("input", valueCopy);
        }
      },
    },
  },
};
</script>
