<template>
  <div>
    <div class="flex flex-row justify-end mb-1">
      <button
        v-bind:disabled="!showButtons"
        v-bind:class="{ 'text-gray-400': !showButtons }"
        class="flex-grow-0 auxiliary-button"
        @click="refresh"
      >
        <refresh-cw-icon
          class="w-6 h-6"
          v-bind:alt="$t('refresh')"
        ></refresh-cw-icon>
      </button>
      <div class="flex flex-row justify-center items-center flex-1">
        <h1 v-if="stateHeading != null" class="text-center mb-1">
          {{ stateHeading }}
        </h1>
        <h1 v-else class="text-center placeholder">
          {{ $t("Collecting Answers") }}
        </h1>
      </div>
      <button
        v-bind:disabled="!showButtons"
        v-bind:class="{ 'text-gray-400': !showButtons }"
        class="flex-grow-0 auxiliary-button"
        @click="toggleSchedule"
      >
        <calendar-icon
          v-bind:alt="$t('Show schedule')"
          v-if="!showSchedule"
          class="w-6 h-6"
        ></calendar-icon>
        <x-icon
          v-bind:alt="$t('Hide schedule')"
          v-else
          class="w-6 h-6"
        ></x-icon>
      </button>
    </div>
    <div
      class="flex"
      v-bind:class="{ 'flex-col': !showSchedule, 'flex-row': showSchedule }"
    >
      <div class="relative z-0" v-bind:class="{ 'w-full': !showSchedule }">
        <div
          v-bind:style="progressStyleString"
          class="bg-main-500 absolute mt-0"
          v-bind:class="{ 'h-px': !showSchedule, 'w-px': showSchedule }"
        ></div>
      </div>
      <div
        class="flex justify-between mb-0"
        v-bind:class="{
          'flex-row items-center': !showSchedule,
          'flex-col items-start': showSchedule,
        }"
      >
        <div class="flex flex-row align-top mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 10 10"
            preserveAspectRatio="xMidYMid"
            class="w-3 h-3 flex-none z-10"
          >
            <circle
              cx="5"
              cy="5"
              r="4.5"
              v-bind:class="{ 'filled-circle': fill1, 'empty-circle': !fill1 }"
            />
          </svg>
          <span v-if="showSchedule" class="ml-2" style="margin-top: -0.25rem">{{
            $t("Start collecting answers") +
            " " +
            new Date(collectingAnswersStart).toLocaleString()
          }}</span>
        </div>
        <div class="flex flex-row items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 10 10"
            preserveAspectRatio="xMidYMid"
            class="w-3 h-3 flex-none z-10"
          >
            <circle
              cx="5"
              cy="5"
              r="4.5"
              v-bind:class="{ 'filled-circle': fill2, 'empty-circle': !fill2 }"
            />
          </svg>
          <span v-if="showSchedule" class="ml-2">{{
            $t("Start debating") +
            " " +
            new Date(debatingStart).toLocaleString()
          }}</span>
        </div>
        <div class="flex flex-row items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 10 10"
            preserveAspectRatio="xMidYMid"
            class="w-3 h-3 flex-none z-10"
          >
            <circle
              cx="5"
              cy="5"
              r="4.5"
              v-bind:class="{ 'filled-circle': fill3, 'empty-circle': !fill3 }"
            />
          </svg>
          <span v-if="showSchedule" class="ml-2">{{
            $t("Start voting") + " " + new Date(votingStart).toLocaleString()
          }}</span>
        </div>
        <div
          class="flex flex-row items-end"
          v-bind:class="{ 'mb-4': !showSchedule }"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 10 10"
            preserveAspectRatio="xMidYMid"
            class="w-3 h-3 flex-none z-10"
          >
            <circle
              cx="5"
              cy="5"
              r="4.5"
              v-bind:class="{ 'filled-circle': fill4, 'empty-circle': !fill4 }"
            />
          </svg>
          <span
            v-if="showSchedule"
            class="ml-2"
            style="margin-bottom: -0.5rem"
            >{{
              $t("Voting over") + " " + new Date(votingEnd).toLocaleString()
            }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="postcss">
.filled-circle {
  stroke: #009144;
  fill: #009144;
}

.empty-circle {
  stroke: #a0aec0;
  fill: #ffffffff;
}

.segment {
  stroke: #009144;
}

.dashed-segment {
  stroke: #009144;
  stroke-dasharray: 1;
}
</style>

<script>
import { CalendarIcon, XIcon, RefreshCwIcon } from "vue-feather-icons";
import { setInterval } from "timers";

export default {
  name: "DebateStatusBar",
  components: {
    CalendarIcon,
    XIcon,
    RefreshCwIcon,
  },
  props: [
    "status",
    "collectingAnswersStart",
    "debatingStart",
    "votingStart",
    "votingEnd",
    "showButtons",
  ],
  methods: {
    toggleSchedule() {
      this.showSchedule = !this.showSchedule;
    },
    refresh() {
      this.$emit("refresh");
    },
  },
  computed: {
    barStatus() {
      return this.status === 5 ? 3 : this.status;
    },
    fill1() {
      return this.barStatus >= 1;
    },
    fill2() {
      return this.barStatus >= 2;
    },
    fill3() {
      return this.barStatus >= 3;
    },
    fill4() {
      return this.barStatus >= 4;
    },
    stateHeading() {
      if (this.status === 1) {
        return this.$t("Collecting Answers");
      } else if (this.status === 2) {
        return this.$t("Debating");
      } else if (this.status === 3) {
        return this.$t("Voting");
      } else if (this.status === 4) {
        return this.$t("Finished");
      } else if (this.status === 5) {
        return this.$t("Collecting Answers, Debating, and Voting");
      } else {
        return null;
      }
    },
    completedFraction() {
      let collectingAnswersStart = Date.parse(this.collectingAnswersStart);
      let debatingStart = Date.parse(this.debatingStart);
      let votingStart = Date.parse(this.votingStart);
      let votingEnd = Date.parse(this.votingEnd);
      let collectingAnswers =
        this.now > debatingStart
          ? 1
          : this.now < collectingAnswersStart
          ? 0
          : (this.now - collectingAnswersStart) /
            (debatingStart - collectingAnswersStart);
      let debating =
        this.now > votingStart
          ? 1
          : this.now < debatingStart
          ? 0
          : (this.now - debatingStart) / (votingStart - debatingStart);
      let voting =
        this.now > votingEnd
          ? 1
          : this.now < votingStart
          ? 0
          : (this.now - votingStart) / (votingEnd - votingStart);
      return (collectingAnswers + debating + voting) / 3;
    },
    progressStyleString() {
      let dim = this.showSchedule ? "height" : "width";
      let direction = this.showSchedule ? "X" : "Y";
      let amount = this.showSchedule ? "5px" : "6px";
      return `${dim}: ${
        this.completedFraction * 100
      }%; transform: translate${direction}(${amount})`;
    },
  },
  data: () => ({
    now: null,
    showSchedule: false,
  }),
  created() {
    this.now = Date.now();
    setInterval(() => (this.now = Date.now()), 1000);
  },
};
</script>
