<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    alt
  >
    <line x1="21" y1="8" x2="3" y2="8" />
    <line x1="21" y1="12" x2="3" y2="12" />
    <line x1="21" y1="16" x2="3" y2="16" />
  </svg>
</template>

<script>
export default {
  name: "DraggingAffordanceIcon",
};
</script>
