<template>
  <div class="flex flex-row justify-center my-4">
    <div class="text-center" v-if="unauthorized">
      <p>
        <alert-triangle-icon
          alt
          class="text-red-500 w-4 h-4 inline-block mr-2 mb-1"
        ></alert-triangle-icon>
        {{ $t("You are now allowed to access / do this.") }}
      </p>
    </div>
    <div class="text-center" v-else>
      <div>
        <alert-triangle-icon
          alt
          class="text-red-500 w-4 h-4 inline-block mr-2 mb-1"
        ></alert-triangle-icon>
        <slot class="inline-block"></slot>
      </div>
      <button
        v-if="showRetry"
        class="auxiliary-button inline-block"
        @click="retry"
      >
        <refresh-cw-icon alt class="inline w-4 h-4 mr-1"></refresh-cw-icon>
        {{ $t("Retry") }}
      </button>
    </div>
  </div>
</template>

<script>
import { AlertTriangleIcon, RefreshCwIcon } from "vue-feather-icons";

export default {
  name: "Error",
  methods: {
    retry() {
      this.$emit("retry");
    },
  },
  props: {
    msg: String,
  },
  components: {
    AlertTriangleIcon,
    RefreshCwIcon,
  },
  computed: {
    showRetry() {
      return this.$listeners.retry;
    },
    unauthorized() {
      return this.msg == "unauthorized";
    },
  },
};
</script>
