<template>
  <div>
    <div ref="listParent">
      <slot></slot>
    </div>
    <button v-if="showingLess" @click="showMore" class="auxiliary-button pl-0">
      <chevron-down-icon
        alt
        class="w-4 h-4 mr-1 inline-block"
      ></chevron-down-icon>
      {{ $t("Show more") }}
    </button>
    <button
      v-else-if="showingMore"
      @click="showLess"
      class="auxiliary-button pl-0"
    >
      <chevron-up-icon alt class="w-4 h-4 mr-1 inline-block"></chevron-up-icon>
      {{ $t("Show less") }}
    </button>
  </div>
</template>

<script>
import Vue from "vue";
import { ChevronDownIcon, ChevronUpIcon } from "vue-feather-icons";

export default {
  name: "ExpandableList",
  components: {
    ChevronDownIcon,
    ChevronUpIcon,
  },
  data: () => ({
    maxNListItems: 0,
    showingLess: false,
    showingMore: false,
  }),
  created() {
    Vue.nextTick(() => {
      if (this.$refs.listParent.firstChild == null) {
        return;
      }
      let listItems = Array.from(this.$refs.listParent.firstChild.children);

      let heights = listItems.map((listItem) => listItem.clientHeight);
      let maxHeight = (2 / 3) * window.innerHeight;
      let totalHeight = 0;
      while (totalHeight <= maxHeight) {
        totalHeight += heights[this.maxNListItems];
        this.maxNListItems += 1;
      }
      this.maxNListItems -= 1;

      listItems.map((listItem, index) => {
        if (index >= this.maxNListItems) {
          listItem.setAttribute("style", "display: none");
        }
      });
      if (this.maxNListItems < listItems.length) {
        this.showingLess = true;
        this.showingMore = false;
      } else {
        this.showingLess = false;
        this.showingMore = false;
      }
    });
  },
  methods: {
    showMore() {
      let listItems = Array.from(this.$refs.listParent.firstChild.children);
      listItems.map((listItem) => {
        listItem.removeAttribute("style");
      });
      this.showingMore = true;
      this.showingLess = false;
    },
    showLess() {
      let listItems = Array.from(this.$refs.listParent.firstChild.children);
      listItems.map((listItem, index) => {
        if (index >= this.maxNListItems) {
          listItem.setAttribute("style", "display: none");
        }
      });
      this.showingMore = false;
      this.showingLess = true;
    },
  },
};
</script>
