<template>
  <div class="w-full text-center">
    <minimal-loading class="text-main-500 w-10 h-10"></minimal-loading>
  </div>
</template>

<style lang="postcss">
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 1.75s linear infinite;
}
</style>

<script>
import MinimalLoading from "@/components/MinimalLoading.vue";

export default {
  name: "Loading",
  components: {
    MinimalLoading,
  },
};
</script>
