<template>
  <div
    class="markdown"
    v-bind:class="{
      preview: styling == 'preview',
      regular: styling == 'regular',
    }"
    v-html="rendered"
  ></div>
</template>

<style lang="postcss">
.markdown a {
  @apply underline text-main-500;
}

.markdown a:visited {
  @apply text-main-700;
}

.markdown code {
  font-family: "Source Code Pro", monospace;
  @apply p-1;
}

.markdown ul {
  @apply list-disc list-inside;
}

.markdown ul ul {
  @apply list-disc list-inside ml-4;
}

.markdown ul ul ul {
  @apply list-disc list-inside ml-8;
}

.markdown ol {
  @apply list-decimal list-inside;
}

.markdown ol ol {
  @apply list-inside ml-4;
  list-style-type: lower-alpha;
}

.markdown ol ol ol {
  @apply list-inside ml-8;
  list-style-type: lower-roman;
}

.markdown table {
  @apply my-2;
}

.markdown table th {
  @apply border-b-2 border-t border-gray-500 text-center px-1 font-normal;
}

.markdown table tr:last-child {
  @apply border-b border-gray-500;
}

.markdown pre {
  @apply my-2 p-1;
}

.markdown hr {
  @apply border-t border-gray-500;
  margin-left: 15%;
  margin-right: 15%;
}

.markdown.regular blockquote {
  @apply ml-2 pl-2 py-1 my-1 border-l-2 border-gray-500;
}

.markdown.preview blockquote {
  @apply ml-2 pl-2 py-0 my-1 border-l border-gray-500;
}

.markdown.regular h1 {
  @apply text-xl my-3;
}

.markdown.regular h2 {
  @apply text-lg my-3;
}

.markdown.regular h3 {
  @apply text-base italic my-4;
}

.markdown.regular h4 {
  @apply text-base italic my-3;
}

.markdown.regular h5 {
  @apply text-base italic my-2;
}

.markdown.regular h6 {
  @apply text-base italic my-1;
}

.markdown.preview h1 {
  @apply font-semibold my-2;
}

.markdown.preview h2 {
  @apply italic my-2;
}

.markdown.preview h3 {
  @apply italic my-2;
}

.markdown.preview h4 {
  @apply italic my-2;
}

.markdown.preview h5 {
  @apply italic my-2;
}

.markdown.preview h6 {
  @apply italic my-2;
}

.markdown.regular p {
  @apply mt-1;
}

.markdown.regular p + p {
  text-indent: 2em;
  @apply mt-0;
}

.markdown.preview p {
  @apply mt-1;
}

.markdown.preview p + p {
  text-indent: 2em;
  @apply mt-0;
}
</style>

<script>
import marked from "marked";
import dompurify from "dompurify";

export default {
  name: "Markdown",
  props: {
    markdown: String,
    styling: {
      type: String,
      default: "regular",
    },
  },
  computed: {
    rendered() {
      return dompurify.sanitize(marked(this.markdown));
    },
  },
};
</script>
