<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="0 0 10 10"
    preserveAspectRatio="xMidYMid"
    class="rotating inline-block"
    v-bind:alt="$t('Loading')"
  >
    <path
      stroke="currentColor"
      fill="none"
      stroke-width="1"
      d="m 1 5 a 4 4 0 1 1 4 4"
    />
  </svg>
</template>

<style lang="postcss">
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 1.75s linear infinite;
}
</style>

<script>
export default {
  name: "MinimalLoading",
};
</script>
