<template>
  <div>
    <div class="flex flex-row items-center justify-end">
      <h2 class="italic">{{ $tc("n participants", participants.length) }}</h2>
      <button
        class="flex-grow-0 auxiliary-button"
        @click="showParticipants = !showParticipants"
      >
        <chevron-down-icon
          v-bind:alt="$t('Show participants')"
          v-if="!showParticipants"
        ></chevron-down-icon>
        <chevron-up-icon
          v-bind:alt="$t('Hide participants')"
          v-else
        ></chevron-up-icon>
      </button>
    </div>
    <ul v-if="showParticipants" class="flex flex-row flex-wrap">
      <li
        v-for="participant in participants"
        :key="participant.id"
        class="card w-full md:w-64 mr-2"
      >
        {{ participant.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon } from "vue-feather-icons";

export default {
  name: "Participants",
  components: {
    ChevronDownIcon,
    ChevronUpIcon,
  },
  props: {
    participants: Array,
  },
  data: () => ({
    showParticipants: false,
  }),
};
</script>
