<template>
  <button
    class="regular-button pl-2"
    v-bind:class="{ 'loading-progress-button': showLoading }"
    :disabled="disabled"
    v-on:click="click"
  >
    <span>
      <div class="inline-block my-auto mr-2 right-0">
        <transition name="fade" mode="out-in">
          <minimal-loading
            v-if="showLoading"
            class="w-4 h-4 text-white"
          ></minimal-loading>
          <div class="w-4 h-4 block" v-else></div>
        </transition>
      </div>
    </span>
    <span class="mr-4">
      <slot></slot>
    </span>
  </button>
</template>

<style lang="postcss">
.loading-progress-button {
  background-color: #005a2a !important;
  @apply !important bg-main-700;
}
</style>

<script>
import MinimalLoading from "@/components/MinimalLoading.vue";

export default {
  name: "ProgressButton",
  components: {
    MinimalLoading,
  },
  props: {
    loading: {
      type: Boolean,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    showLoading() {
      return this.loading === null ? this.clicked : this.loading;
    },
  },
  data: () => ({
    clicked: false,
  }),
  methods: {
    async click() {
      if (!this.showLoading) {
        this.clicked = true;
        this.$emit("click");
      }
    },
  },
};
</script>
