<template>
  <div
    class="my-4 flex border rounded border-main-500 mx-4 lg:mx-12 text-main-500"
  >
    <button
      v-for="v in values"
      :key="v.id"
      @click="select(v.id)"
      class="focusable flex-1 text-center py-1 px-2"
      v-bind:class="{
        'bg-main-500 text-white': value.id === v.id,
        'border-l border-main-500': borderLeft(v.id),
      }"
      style="transition: 0.25s"
      tabindex="0"
    >
      {{ v.display }}
    </button>
  </div>
</template>

<style lang="postcss">
.focusable:focus {
  outline-offset: 3px;
  outline-color: black;
}
</style>
<script>
export default {
  name: "SegmentedControl",
  props: {
    value: Object,
    values: Array,
  },
  methods: {
    select(id) {
      this.$emit("input", this.values.filter((v) => v.id === id)[0]);
    },
    borderLeft(id) {
      return this.values.map((v) => v.id).indexOf(id) != 0;
    },
  },
};
</script>
