<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="inline-block feather feather-plus"
    v-bind:alt="$t('Vote')"
  >
    <rect x="4" y="11" width="16" height="12" />
    <line x1="8" y1="11" x2="10" y2="3" />
    <line x1="16" y1="11" x2="18" y2="4" />
    <line x1="10" y1="3" x2="18" y2="4" />
  </svg>
</template>

<script>
export default {
  name: "VoteIcon",
};
</script>
