@font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('./assets/fonts/sourcesanspro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/sourcesanspro-regular-italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/sourcesanspro-regular-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-style: regular;
}

.feature-card {
    @apply block p-5 border border-gray-500 rounded m-5;
    flex: 1 0 auto;
    flex-basis: 15rem;
}

.feature-card > h2 {
    @apply text-xl;
}

.feature-card > p {
    
}

.gradient-button {
    background-image: linear-gradient(to bottom right, #00c85d, #9fd5d9);
    transition: all 0.3s ease;
}

.gradient-button:hover {
    transform: translateY(-2px);
}

#signup-link {
    transition: 0.1s;
}

.long-text h1 {
    @apply mb-2 font-black text-lg;
}

.long-text h2 {
    @apply mb-2 font-black;
}

.long-text p {
    @apply mb-2;
}

.long-text ul {
    @apply list-disc list-inside;
}

.long-text address {
    @apply mb-2;
}
