*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -p tcp --dport 22 -j ACCEPT
-A INPUT -i lo -j ACCEPT
# This is necessary to install packages via apt
-A INPUT -p tcp --sport 80 --dport 32768:61000 -m state --state ESTABLISHED -j ACCEPT
-A INPUT -p tcp --sport 443 --dport 32768:61000 -m state --state ESTABLISHED -j ACCEPT
-A INPUT -p udp --sport 53 --dport 32768:61000 -m state --state ESTABLISHED -j ACCEPT
# Allow pinging the server
-A INPUT -p ipv6-icmp -j ACCEPT

{% if (inventory_hostname in groups.apiservers) %}
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
{% endif %}
{% if (inventory_hostname in groups.staticwebservers) %}
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
{% endif %}
{% if (inventory_hostname in groups.smtpservers) %}
-A INPUT -p tcp --sport 25 -m state --state ESTABLISHED -j ACCEPT
{% endif %}

COMMIT
